{{!-- {{log "document-partial.hbs" this}} --}}
{{!-- TODO: DELETE?  Not being used --}}
{{!-- {{#if this.childItems.length}}
    <div class="parent-child">
{{/if}}
    
{{#unless this.parentItem}}
    <li class="directory-item document {{#if this.childItems.length}} parent-item {{/if}}{{@root.documentCls}} flexrow" data-entry-id="{{this.id}}" data-document-id="{{this.id}}">
    {{#if this.thumbnail}}
    <img class="thumbnail" title="{{this.name}}" data-src="{{this.thumbnail}}"/>
    {{/if}}
    <h4 class="entry-name document-name"><a>{{this.name}}</a></h4>
    </li>
{{/unless}}


{{#each this.childItems}}
    <li class="directory-item document childItem {{@root.documentCls}} flexrow" data-entry-id="{{this.id}}" data-document-id="{{this.id}}">
    {{#if this.thumbnail}}
    <img class="thumbnail" title="{{this.name}}" data-src="{{this.thumbnail}}"/>
    {{/if}}
    <h4 class="entry-name document-name"><a>{{this.name}}</a></h4>
    </li>
{{/each}}

{{#if this.childItems.length}}
    </div>
{{/if}} --}}

