{{ log 'SKILL POP OUT' this }}
<form>
    <div class="hero chat-card item-card skill-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
        tokenId}}data-token-id="{{tokenId}}" {{/if}}>
        <header class="card-header flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName item}}}</h3>
        </header>
    </div>

    {{#if skillLevels}}
    <div class="form-fields  csl-attack-list">
        <div class="hero chat-card item-card">
            <h3>Verify the following Skill Levels apply to this skill.</h3>
        </div>
        <table>
            {{#each skillLevels}}
            <tr>
                <td>
                    <input type="checkbox" id="{{this.id}}" {{checked this.system.checked}} data-dtype="Boolean" />
                </td>
                <td class="left">
                    <b>{{this.name}}</b>: {{this.system.description}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Roll Modifier</label>
        <input type="number" name="mod" value="0" />
    </div>



    <hr>
    <div>
        <center><h4>(- is harder, + is easier)</h4></center>
    </div>
</form>