{{!-- {{log 'tracker.hbs' this}} --}}
<ol id="combat-tracker" class="combat-tracker directory-list combat-tracker plain">
    {{#each segments}}

        <li class="segment-container">
            <h3 class="{{#if this.length}}segment-has-items{{else}}segment-inactive{{/if}} segment-header {{#if (activeSegment @index @root.combat)}}segment-active{{/if}}">Segment {{@index}} {{#if @root/alphaTesting}}[tokens:{{this.length}}]{{/if}}</h3>
            <ol class="segment-content" {{#if (expandSegment @index @root.combat)}}{{else}} 
            style="display:none"
                {{/if}} data-segment-id="{{@index}}">

                {{#each this}}
                <li class="combatant directory-item {{this.css}}" data-combatant-id="{{this.id}}">
                    {{#unless this.holding}}
                        <img class="token-image" src="{{this.img}}" alt="{{this.name}}" loading="lazy"/>
                    {{/unless}}
                    <div class="token-name">
                        <strong>{{this.name}}</strong>
                        {{#if (getScopedFlagValue this @root/gameSystemId 'lightningReflexes' 'levels')}}
                            <strong title="Lightning Reflexes">LR {{getScopedFlagValue this @root/gameSystemId 'lightningReflexes' 'name'}}</strong>
                        {{else}}
                            <div class="combatant-controls">
                                {{#if @root/user.isGM}}
                                {{!-- <button type="button" class="inline-control combatant-control icon fa-solid fa-eye-slash " data-action="toggleHidden" data-tooltip="COMBAT.ToggleVis" aria-label="Toggle Visibility"  data-control="toggleHidden"></button> --}}
                                <a class="combatant-control {{#if this.hidden}}active{{/if}}" data-action="toggleHidden" aria-label="{{localize 'COMBAT.ToggleVis'}}" role="button" data-tooltip="COMBAT.ToggleVis" data-control="toggleHidden">
                                    <i class="fas fa-eye-slash"></i>
                                </a>
                                <a class="combatant-control {{#if this.defeated}}active{{/if}}" data-action="toggleDefeated" aria-label="{{localize 'COMBAT.ToggleDead'}}" role="button" data-tooltip="COMBAT.ToggleDead" data-control="toggleDefeated">
                                    <i class="fas fa-skull"></i>
                                </a>
                                {{/if}}
                                {{#if this.canPing}}
                                <a class="combatant-control" data-action="pingCombatant" aria-label="{{localize 'COMBAT.PingCombatant'}}" role="button" data-tooltip="COMBAT.PingCombatant" data-control="pingCombatant">
                                    <i class="fa-solid fa-bullseye-arrow"></i>
                                </a>
                                {{/if}}
                                {{!-- {{#unless ../user.isGM}}
                                <a class="combatant-control" data-action="activateCombatant" aria-label="{{localize 'COMBAT.PanToCombatant'}}" role="button" data-tooltip="COMBAT.PanToCombatant" data-control="panToCombatant">
                                    <i class="fa-solid fa-arrows-to-eye"></i>
                                </a>
                                {{/unless}} --}}
                                <div class="token-effects">
                                    {{#each this.effects}}
                                    <a class="combatant-control" data-tooltip="{{this.name}}" data-control="effect" data-effect-id="{{this.id}}">
                                        <img class="token-effect" src="{{this.img}}" />
                                    </a>
                                    {{/each}}
                                </div>
                            </div>
                        {{/if}}
                    </div>
                    {{#if this.holding}}
                        <img class="token-image" src="{{this.img}}" alt="{{this.name}}" loading="lazy"/>
                    {{/if}}

                    {{#if this.hasResource}}
                    <div class="token-resource">
                        <span class="resource">{{this.resource}}</span>
                    </div>
                    {{/if}}

                    <div class="token-initiative">
                        {{!-- {{#if this.hasRolled}} --}}
                            <span class="initiative" data-tooltip="{{{getScopedFlagValue this @root/gameSystemId 'initiativeTooltip'}}}" >{{this.initiative}}</span>
                        {{!-- {{/if}} --}}
                    </div>
                </li>
                {{/each}}
            </ol>
        </li>
    {{/each}}
</ol>
