{{!-- {{ log 'HEROSYS effects-panel' this }} --}}
<article id="effects-panel" class="{{this.css}}">
    {{#each effects}}
        {{!-- {{ log 'HEROSYS effects-panel.effect' this }} --}}
        <div class="effect-item" data-item-id="this.id">
            <div class="effect-info">
                <h1>
                    {{this.name}}
                </h1>
                <div class="tags">

                    {{#if (getScopedFlagValue this ../gameSystemId "XMLID")}}
                        <div class="tag">{{getScopedFlagValue this ../gameSystemId "XMLID"}}</div>
                    {{else if this.parent.system.XMLID}}
                        <div class="tag">{{this.parent.system.XMLID}}</div>
                    {{/if}}
                </div>

                {{#if (getScopedFlagValue this ../gameSystemId "label")}}
                    {{#if (ne (getScopedFlagValue this ../gameSystemId "label") "None")}}
                        <div class="duration">
                            Duration:
                            {{getScopedFlagValue this ../gameSystemId "label"}}
                        </div>
                    {{/if}}
                {{/if}}

                {{#if (getScopedFlagValue this ../gameSystemId "target")}}
                    <div class="target">

                        Target:
                        {{getScopedFlagValue this ../gameSystemId "targetDisplay"}}
                    </div>
                {{/if}}

                {{#if this.flags.source}}
                    <div class="source">

                        Source:
                        {{this.flags.source}}
                    </div>
                {{/if}}

                {{#if this.changes}}
                    <table>
                        <head>
                            <tr>
                                <th>Attribute Key</th>
                                <th>Change Mode</th>
                                <th>Effect Value</th>
                            </tr>
                        </head>
                        <body>
                            {{#each this.changes}}
                                <tr>
                                    <td>{{this.key}}</td>
                                    <td>
                                        {{#if (eq this.mode 1)}}Multiply
                                        {{else if (eq this.mode 2)}}Add
                                        {{else if (eq this.mode 3)}}Downgrade
                                        {{else if (eq this.mode 4)}}Upgrade
                                        {{else if (eq this.mode 5)}}Override
                                        {{else}}{{this.mode}}
                                        {{/if}}
                                    </td>
                                    <td>{{this.value}}</td>
                                </tr>
                            {{/each}}
                        </body>
                    </table>
                {{/if}}

                {{! <div class="instructions">
    
                        <div>[Left Click] Increase value</div>
                        <div>[Right Click] Decrease value</div>
            </div> }}
                <div class="description">
                    <p>{{{this.description}}}</p>
                </div>
            </div>
            {{! <div class="icon"></div> }}
            {{! <div class="linked"></div> }}
            {{! <div class="value-wrapper"></div> }}
            <div class="icon" style="background-image: url({{this.img}})">
                <span>{{this.name}}</span>
            </div>
        </div>
    {{/each}}
</article>