<div class="tab tab-body" data-group="primary" data-tab="skills">
    <table>
        <tr>
            <th class="sticky" colspan="2" class="right">Filter:</th>
            <th class="sticky" colspan="4">
                <input class="left" name="itemFilters.skill" type="text"
                    value="{{options.itemFilters.skill}}">
            </th>
        </tr>
        <tr>
            <th class="sticky2"></th>
            <th class="sticky2">{{localize "ActorSheet.Cost"}}</th>
            <th class="left sticky2">{{localize "ActorSheet.Name"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Char"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Roll"}}</th>
            <th class="sticky2">
                <a class="item-control item-create" title="Create skill" data-type="skill">
                    <i class="fas fa-plus"></i> Add Skill</a>
            </th>
        </tr>
        {{#each items as |item id|}}
            {{!-- Show skills and things in a framework or compound power --}}
            {{#if (and (eq item.type "skill") (not item.parentItem) (ne item.system.XMLID "__STRENGTHDAMAGE"))}}
                {{#if (filterItem item @root/options.itemFilters.skill)}}
                    {{> (getModulePath 'actor/actor-sheet-partial-skills-item.hbs') item }}
                {{/if}}
            {{/if}}
        {{/each}}
    </table>
</div>
