<div class="tab tab-body" data-group="primary" data-tab="equipment">
    <table>
        <tr class="sticky">
            <th colspan="1" class="right">Filter:</th>
            <th colspan="3">
            <input class="left" name="itemFilters.equipment" type="text"
                value="{{options.itemFilters.equipment}}">
            </th>
            <th colspan="2">WEIGHT: {{weightTotal}}</th>
            <th colspan="2">PRICE: {{priceTotal}}</th>
        </tr>
        <tr class="sticky2">
            <th></th>
            <th class="left">{{localize "ActorSheet.Description"}}</th>
            <th>{{localize "ActorSheet.End"}}</th>
            <th>{{localize "ActorSheet.Price"}}</th>
            <th>{{localize "ActorSheet.Weight"}}</th>
            <th>{{localize "ActorSheet.Carried"}}</th>
            <th>{{localize "ActorSheet.Active"}}</th>
            <th>
                <a class="item-control item-create" title="Create equipment" data-type="equipment">
                    <i class="fas fa-plus"></i> Add Equipment</a>
            </th>
        </tr>
        {{#each items as |item id|}}
            {{#if (and (eq item.type "equipment") (not item.parentItem) (filterItem item
            ../options.itemFilters.equipment))
            }}
                {{> (getModulePath 'actor/actor-sheet-partial-equipment-item.hbs') }}
            {{/if}}
        {{/each}}
    </table>
</div> 