{{!-- {{log 'actor-sheet' this}} --}}
<form class="{{cssClass}}" autocomplete="off" data-actor-uuid="{{actor.uuid}}" data-token-uuid="{{token.uuid}}">
    {{#if (getScopedFlagValue actor @root/gameSystemId "uploading")}}
        <aside>
            <div class="sidebar">
            </div>
        </aside>
        <header class="char-header sheet-header ">
            <div class="header-fields flexrow" style="width: 100%">
                <h1 class="charname flex4"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" disabled/></h1>

                {{#if actor.system.is5e}}
                    <div class="fifth-ed flex0" title="5th edition {{actor._templateType}} {{actor.type}}">5{{actor._templateTypeAbreviation}}</div>
                {{else}}
                    <div class="sixth-ed flex0" title="6th edition {{actor._templateType}} {{actor.type}}">6{{actor._templateTypeAbreviation}}</div>
                {{/if}}

                {{#if actor._characterPointsForDisplay}}
                    <div class="points flex0">CP</div>
                {{/if}}

                {{#if actor._activePointsForDisplay}}
                    <div class="points flex0">AP</div>
                {{/if}}

                <label class="upload-button flex0">
                    <span>Upload&nbsp;.HDC</span>
                    <input type="file" accept=".hdc" />
                </label>
            </div>
        </header>

        <nav class="sheet-navigation flexrow" data-group="primary">        
        </nav>

        <section class="sheet-body">
            <section class="sheet-content"> {{!-- sheet-content scrolls --}}
                {{#if (getScopedFlagValue actor @root/gameSystemId "uploadingError")}}
                    <span style="padding:20px;font-size:48px;color:red">Upload failed, please Report.</span>
                    <div style="color:red;user-select:text;">
                        <pre>{{{getScopedFlagValue actor @root/gameSystemId "uploadingError"}}}</pre>
                    </div>
                {{else}}
                    <span style="padding:20px;font-size:48px">Upload in progress</span>
                {{/if}}
            </section>
        </section>
    {{else}}
    <aside>
        <div class="sidebar">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />

            <section class="flexrow">
                <ul class="attributes flexcol">
                    {{#if (hasCharacteristic actor "END")}}
                        <li class="attribute health" data-ability="end">
                            <h4 class="attribute-name box-title">Endurance</h4>
                            <div class="attribute-value multiple characteristic">
                                <input name="Xsystem.characteristics.end.value" type="text"
                                    value="{{actor.system.characteristics.end.value}}" data-dtype="Number"
                                    class="{{#if (gt actor.system.characteristics.end.value actor.system.characteristics.end.max)}}over-max{{/if}}{{#if (lt actor.system.characteristics.end.value actor.system.characteristics.end.max)}} under-max{{/if}}">
                                <span class="sep"> / </span>
                                <span>
                                    ({{actor.system.characteristics.end.max}})
                                </span>
                            </div>
                        </li>
                    {{/if}}

                    {{#if endReserve}}
                        <li class="attribute health" data-ability="endReserve" >
                            <h4 class="attribute-name box-title" title="{{endReserve.name}}">END Reserve</h4>
                            <div class="attribute-value multiple characteristic">
                                <input name="endReserve.{{endReserve.id}}.value" type="text"
                                    value="{{endReserve.system.value}}" data-dtype="Number"
                                    class="{{#if (gt endReserve.system.value endReserve.system.LEVELS)}}over-max{{/if}}
                                    {{#if (lt endReserve.system.value endReserve.system.LEVELS)}} under-max{{/if}}">
                                <span class="sep"> / </span>
                                <span>
                                    ({{endReserve.system.LEVELS}})
                                </span>
                            </div>
                        </li>
                    {{/if}}

                    <li class="attribute health" data-ability="body">
                        <h4 class="attribute-name box-title">Body</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.body.value" type="text"
                                value="{{actor.system.characteristics.body.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.body.value actor.system.characteristics.body.max)}}over-max{{/if}}{{#if (lt actor.system.characteristics.body.value actor.system.characteristics.body.max)}} under-max{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.body.max}})
                            </span>
                        </div>
                    </li>

                    {{#if (hasCharacteristic actor "STUN")}}
                        <li class="attribute health" data-ability="stun">
                            <h4 class="attribute-name box-title">Stun</h4>
                            <div class="attribute-value multiple characteristic">
                                <input name="Xsystem.characteristics.stun.value" type="text"
                                    value="{{actor.system.characteristics.stun.value}}" data-dtype="Number"
                                    class="{{#if (gt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}}over-max{{/if}}{{#if (lt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}} under-max{{/if}}">
                                <span class="sep"> / </span>
                                <span>
                                    ({{actor.system.characteristics.stun.max}})
                                </span>
                            </div>
                        </li>
                    {{/if}}

                    {{#if useHAP }}
                        <li class="attribute heroic-action-points" data-ability="hap">
                            <h4 class="attribute-name box-title" title="Heroic Action Points">HAP</h4>
                            <div class="attribute-value multiple characteristic">
                                <input name="system.hap.value" type="text"
                                    value="{{actor.system.hap.value}}" data-dtype="Number"
                                    >
                            </div>
                        </li>
                    {{/if}}

                    <ul class="defenses">
                        <li title="{{defense.PDtags}}"><span>PD={{defense.PD}}</span></li>
                        <li title="{{defense.rPDtags}}"><span>rPD={{defense.rPD}}</span></li>
                        <li title="{{defense.EDtags}}"><span>ED={{defense.ED}}</span></li>
                        <li title="{{defense.rEDtags}}"><span>rED={{defense.rED}}</span></li>

                        <li title="{{defense.MDtags}}"><span>MD={{defense.MD}}</span></li>
                        {{#if defense.rMD}}<li title="{{defense.rMDtags}}"><span>rMD={{defense.rMD}}</span></li>{{/if}}

                        {{#if defense.drp}}<li title="{{defense.drptags}}"><span>drp={{defense.drp}}%</span></li>{{/if}}
                        {{#if defense.dre}}<li title="{{defense.dretags}}"><span>dre={{defense.dre}}%</span></li>{{/if}}
                        {{#if defense.drm}}<li title="{{defense.drmtags}}"><span>drm={{defense.drm}}%</span></li>{{/if}}

                        {{#if defense.dnp}}<li title="{{defense.dnptags}}"><span>dnp={{defense.dnp}}</span></li>{{/if}}
                        {{#if defense.dne}}<li title="{{defense.dnetags}}"><span>dne={{defense.dne}}</span></li>{{/if}}
                        {{#if defense.dnm}}<li title="{{defense.dnmtags}}"><span>dnm={{defense.dnm}}</span></li>{{/if}}

                        <li title="{{defense.POWDtags}}"><span>POWD={{defense.POWD}}</span></li>
                        {{#if defense.rPOWD}}<li title="{{defense.rPOWDtags}}"><span>rPOWD={{defense.rPOWD}}</span></li>{{/if}}
                    </ul>

                    <div class="sidebar-actions flexrow flex-group-center">
                        <button type="button" class="recovery-button">Take Recovery</button>
                        <button type="button" class="presence-button">Presence Attack</button>
                        <button type="button" class="full-health-button"
                            title="Restore all characteristics to max, remove status effects, and remove temporary effects">Full
                            Health</button>
                        <button type="button" class="actor-description-button"
                            title="Show Actor Description and all perceivable powers">Actor Description</button>
                    </div>
                </ul>
            </section>
        </div>
    </aside>

    <!-- TOP DIV -->
    <header class="char-header sheet-header ">
        <div class="header-fields flexrow" style="width: 100%">
            <h1 class="charname flex4" title='"{{getScopedFlagValue actor @root/gameSystemId "file" "name"}}" was uploaded by {{getScopedFlagValue actor @root/gameSystemId "file" "uploadedBy"}} which was last modified on {{getUploadLastModifiedDate actor}}']"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>


            {{#if actor.is5e}}
                <div class="fifth-ed flex0" title="5th edition {{actor._templateType}} {{actor.type}}">5{{actor._templateTypeAbreviation}}</div>
            {{else}}
                <div class="sixth-ed flex0" title="6th edition {{actor._templateType}} {{actor.type}}">6{{actor._templateTypeAbreviation}}</div>
            {{/if}}

            {{#if actor.characterPointCost}}
                <div class="points flex0" title="{{pointsTitle}}">{{actor._characterPointsForDisplay}}CP</div>
            {{/if}}

            {{#if actor.activePoints}}
                <div class="points flex0" title="{{activePointsTitle}}">{{actor._activePointsForDisplay}}AP</div>
            {{/if}}


            <label class="upload-button flex0 {{#if isOwner}}is-owner{{/if}}">
                <span>Upload&nbsp;.HDC</span>
                <input type="file" accept=".hdc" \>
            </label>
        </div>
    </header>


    <!-- NAV BAR -->
    <nav class="sheet-navigation flexrow" data-group="primary">

        <a class="item-nav" data-tab="attacks">Attacks</a>
        <a class="item-nav" data-tab="defenses">Defenses</a>
        <a class="item-nav" data-tab="movement">Movement</a>
        {{#if hasMartialArts}}
            <a class="item-nav {{#if (actorHeroValidationByItemType this.actor "martialArts")}}validation{{/if}}" data-tab="martialArts">MartialArts</a>
        {{/if}}
        <a class="item-nav {{#if (actorHeroValidationByItemType this.actor "skill")}}validation{{/if}}" data-tab="skills">Skills</a>
        <a class="item-nav {{#if (actorHeroValidationByItemType this.actor "maneuver")}}validation{{/if}}" data-tab="maneuvers">Maneuvers</a>
        <a class="item-nav {{#if (actorHeroValidationByItemType this.actor "power")}}validation{{/if}}" data-tab="powers">Powers</a>
        {{#if hasEquipment}}
            <a class="item-nav {{#if (actorHeroValidationByItemType this.actor "equipment")}}validation{{/if}}" data-tab="equipment">Equipment</a>
        {{/if}}
        <a class="item-nav" data-tab="characteristics">Characteristics</a>
        <a class="item-nav" data-tab="other">Other</a>
        {{#if actor.invalidItems}}
            <a class="item-nav invalid" data-tab="invalid">Invalid</a>
        {{/if}}
        {{!-- <a class="item-nav" data-tab="description">Description</a> --}}
    </nav>


    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content"> {{!-- sheet-content scrolls --}}

            {{!-- Attacks Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-attacks.hbs') this }}

            {{!-- Martial Arts Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-martialarts.hbs') this }}

            {{!-- Defenses Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-defenses.hbs') this }}

            {{!-- Skills Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-skills.hbs') this }}

            {{!-- Maneuvers Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-maneuvers.hbs') this }}

            {{!-- Movement Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-movement.hbs') this }}

            {{!-- Powers Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-powers.hbs') this }}

            {{!-- Equipment Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-equipment.hbs') this }}

            {{!-- Characteristics Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-characteristics.hbs') this }}

            {{!-- Other Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-other.hbs') this }}

            {{!-- Invalid Tab --}}
            {{> (getModulePath 'actor/actor-sheet-partial-invalid.hbs') this }}
            
        </section> {{!-- sheet-content --}}
    </section> {{!-- Sheet Body --}}
    {{/if}}
</form>