{{#if (filterItem this @root.options.itemFilters.equipment)}}
<tr class="item {{#if (not this.isFromBaseActor)}}delta-item{{/if}}"
    data-item-id="{{this._id}}">

    <td width = "24px">
        {{#if this.isContainer}}
            {{#if this.system.collapse}}
                <a class="item-image item-control item-expand" title="{{localize "ActorSheet.ExpandItem"}}" >
                    <i class="fas fa-square-caret-right fa-2x"></i>
                </a>
            {{else}}
                <a class="item-image item-control item-collapse" title="{{localize "ActorSheet.CollapseItem"}}" >
                    <i class="fas fa-square-caret-down fa-2x"></i>
                </a>
            {{/if}}
        {{else}}
            {{#unless this.isSeparator}}
                <div class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24"
                    height="24" /></div>
            {{/unless}}
        {{/if}}
    </td>
    
    <td class="left{{#if this.parentItem}} item-framework-child-name{{#if this.parentItem.parentItem}}2{{/if}}{{/if}}">
        {{#if (and this.childIdx this.parentItem)}}
            {{this.childIdx}})
        {{/if}}
        {{{itemFullDescription this}}}
        {{#if this.system.NOTES}}
            <div class="item-notes-editable-content"><b>Notes:</b> {{{this.system.NOTES}}}</div>
        {{/if}}
    </td>

    {{#if this.isContainer}}
        <td>{{this.end}}</td>
        <td>{{priceText}}</td>
        <td title="Total weight of container and contents in kg">
            {{#if this.childItems}}<b>{{this.weightKg}}</b>{{else}}{{this.weightKg}}{{/if}}
        </td>
    {{else}}
        {{#if this.isSeparator}}
            <td></td>
            <td></td>
            <td></td>
        {{else}}
            <td>{{this.end}}</td>
            <td>{{this.priceText}}</td>
            <td>{{this.weightKg}}</td>
        {{/if}}
    {{/if}}

    <td>
        {{#unless this.isSeparator}}
            {{#if (or this.isContainer (not this.parentItem)) }}
                <input class="item-toggle" type="checkbox"  name="this.system.active"  {{checked
                    this.system.active}} data-dtype="Boolean" />
            {{/if}}
        {{/unless}}
    </td>
    <td>
        {{> (getModulePath 'item/item-action-icons-partial.hbs') this }}
    </td>   
    <td>
        {{> (getModulePath 'item/item-information-modification-icons-partial.hbs') this }}
    </td>
    
</tr>
{{/if}}

{{#if (not this.system.collapse)}}
    {{#each this.childItems}}
        {{> (getModulePath 'actor/actor-sheet-partial-equipment-item.hbs') }}
    {{/each}}
{{/if}}