<table>
    <tr>
        <th></th>
        <th>{{localize "ActorSheet.Cost"}}</th>
        <th class="left">{{localize "ActorSheet.Complication"}}</th>
        <th>{{localize "ActorSheet.Roll"}}</th>
        <th>
            <a class="item-control item-create" title="Create complication" data-type="disadvantage">
                <i class="fas fa-plus"></i> Add Complication</a>
        </th>
    </tr>
    {{#each items as |item id|}}
        {{#if (or (eq item.type "complication") (eq item.type "disadvantage")) }}
            <tr class="item {{#if (not this.isFromBaseActor)}}delta-item{{/if}}" data-item-id="{{item._id}}">
                <td style="min-width: 24px">
                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                            height="24" /></div>
                </td>
                <td>
                    {{#if (eq this.system.XMLID "COMPOUNDPOWER")}}
                        {{this.compoundCostForDisplay}}
                    {{else if this.isSeparator}}
                        {{!-- Show no cost--}}
                    {{else if (eq this.system.XMLID "LIST")}}
                        <span style="opacity: 0.5">{{this.listCost}}</span>
                    {{else}}
                        {{#if (eq this.parentItem.system.XMLID "COMPOUNDPOWER")}}
                            <span style="opacity: 0.5">{{this.characterPointCostForDisplayPlusSuffix}}</span>
                        {{else}}
                            {{this.characterPointCostForDisplayPlusSuffix}}
                        {{/if}}
                    {{/if}}
                </td>
                <td class="left{{#if this.parentItem.type}} item-framework-child-name{{#if this.parentItem.parentItem}}2{{/if}}{{/if}} {{#if (and this.childIdx this.parentItem)}}parent-xmlid-{{toLowerCase this.parentItem.system.XMLID}} parent-xmlid-{{toLowerCase this.parentItem.parentItem.system.XMLID}}{{/if}}">
                    {{#if (and this.childIdx this.parentItem)}}
                        {{this.childIdx}})
                    {{/if}}
                    {{{itemFullDescription item}}}
                    {{#if item.system.NOTES}}
                        <div class="item-notes-editable-content"><b>Notes:</b> {{{item.system.NOTES}}}</div>
                    {{/if}}
                </td>
                <td>
                    {{> (getModulePath 'item/item-action-icons-partial.hbs') item }}
                </td>
                <td class="right">
                    {{> (getModulePath 'item/item-information-modification-icons-partial.hbs') this }}
                </td>
            </tr>
        {{/if}}
    {{/each}}

</table>