{{!-- {{log 'actor-sheet-partial-analysis' this}} --}}

<div class="tab tab-body" data-group="primary" data-tab="analysis">
    <fieldset>
        <legend>Endurance</legend>

        <p>Assumes 1 END per phase for movement.</p>

        <div class="form-group">
            <label>END Per Phase</label>
            <div>
                <input type="text" value="{{actor.analysis.endurance.perPhase}}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>END Per Turn</label>
            <div>
                <input type="text" value="{{actor.analysis.endurance.perTurn}}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>Recovery</label>
            <div>
                <input type="text" value="{{actor.system.characteristics.rec.value}}" disabled/>
            </div>
        </div>

        <div class="form-group">
            <label>Phases until 0 END</label>
            <div>
                <input type="text" value="{{actor.analysis.endurance.phasesUntil0End}}" disabled/>
            </div>
        </div>
    </fieldset>
</div>