<div class="tab tab-body" data-group="primary" data-tab="characteristics">
    <table>
        <tr>
            <th class="sticky" title="{{localize 'ActorSheet.ValueTitle'}}">{{localize "ActorSheet.Value"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.MaxTitle'}}">{{localize "ActorSheet.Max"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.BaseTitle'}}">{{localize "ActorSheet.Base"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.LevelsTitle'}}">{{localize "ActorSheet.Levels"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.CharTitle'}}">{{localize "ActorSheet.Char"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.BaseTitle'}}">{{localize "ActorSheet.Base"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.CostTitle'}}">{{localize "ActorSheet.Cost"}}</th>
            <th class="sticky">{{localize "ActorSheet.Roll"}}</th>
            <th class="sticky" title="{{localize 'ActorSheet.NoteTitle'}}">{{localize "ActorSheet.Notes"}}</th>
        </tr>
        {{#each characteristics as |characteristic|}}
            <tr class="characteristic">
                {{!-- value --}}
                <td data-tooltip="{{{characteristic.valueTitle}}}"
                    class="{{#if characteristic.valueTitle}}characteristic-locked{{/if}}">
                    <input name="system.characteristics.{{characteristic.key}}.value" type="number"
                        value="{{characteristic.value}}" data-dtype="Number"
                        class="{{#if (gt characteristic.value characteristic.max)}}over-max{{/if}}{{#if (lt characteristic.value characteristic.max)}} under-max{{/if}}"
                        {{#if characteristic.valueTitle}}disabled{{/if}}
                    >
                </td>

                {{!-- max --}}
                <td data-tooltip="{{{characteristic.maxTitle}}}"
                    class="{{#if characteristic.maxTitle}}characteristic-locked{{/if}}">
                    <input name="system.characteristics.{{characteristic.key}}.max" type="number"
                        class="{{#if (gt characteristic.max characteristic.basePlusLevels)}}over-max{{/if}}{{#if (lt characteristic.max characteristic.baseInt)}}under-max{{/if}}"
                        value="{{characteristic.max}}" data-dtype="Number" {{#if
                        characteristic.maxTitle}}disabled{{/if}}>
                </td>

                {{!-- base --}}
                <td>
                    {{#unless (eq characteristic.base null)}}
                        {{characteristic.base}}
                    {{/unless}}
                </td>

                {{!-- levels --}}
                <td>
                    {{#unless (eq characteristic.base null)}}
                    <input name="system.{{characteristic.KEY}}.LEVELS" type="number"
                        value="{{characteristic.levels}}" data-dtype="Number" 
                        {{#if (and (eq @root/system.is5e true) (includes characteristic.baseInfo.behaviors "calculated"))}}disabled{{/if}}>
                    {{/unless}}
                </td>

                {{!-- XMLID --}}
                <td title="{{characteristic.baseInfo.name}}">
                    {{toUpperCase characteristic.XMLID}}
                </td>
                    
                {{!-- base    --}}
                <td>
                    {{#if (and (eq @root/system.is5e true) (includes characteristic.baseInfo.behaviors "calculated"))}}
                        {{ calculated5eCharacteristic actor characteristic}}
                        
                    {{else}}
                        {{#if (and (eq @root/system.is5e true) (includes characteristic.baseInfo.behaviors "figured"))}}
                            {{ figured5eCharacteristic actor characteristic}}
                        {{else}}
                            {{#if characteristic.baseInfo}}
                                {{characteristic.base}}
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </td>

                <td class="{{#if (and characteristic.characteristicMax (gt characteristic.basePlusLevels characteristic.characteristicMax) )}}characteristic-max{{/if}}" 
                    {{#if (and characteristic.characteristicMax (gt characteristic.basePlusLevels characteristic.characteristicMax) )}}title="{{characteristic.basePlusLevels}} exceeds Characteristic Maximum of {{characteristic.characteristicMax}}. Costs double for excess."{{/if}}
                    {{#if characteristic.costTitle}}title="{{characteristic.costTitle}}" {{/if}}>
                    {{#unless (eq characteristic.base null)}}
                    {{characteristic.realCost}}
                    {{/unless}}
                </td>

                <td>
                    {{#if characteristic.roll}}
                        <div class="flexrow">
                            <button type="button" class="characteristic-roll"
                                data-label="{{characteristic.key}}" title="{{characteristic.name}} Roll">{{numberFormat characteristic.roll decimals=0
                                sign=false}}-</button>
                            <button type="button" class="characteristic-full"
                                data-label="{{characteristic.key}}" title="Full {{characteristic.name}}">F</button>
                            <button type="button" class="characteristic-casual"
                                data-label="{{characteristic.key}}" title="Casual {{characteristic.name}}">C</button>
                        </div>
                    {{/if}}
                </td>
                <td>{{characteristic.notes}}</td>
            </tr>
        {{/each}}

    </table>

</div>