{{!-- {{log 'actor-sheet-partial-skills-item' this item}} --}}
{{#if (filterItem this @root/options.itemFilters.skill)}}
    <tr class="item {{#if (not this.isFromBaseActor)}}delta-item{{/if}} {{#if (not this.isFromBaseActor)}}delta-item{{/if}} {{#if (actorItemHeroValidation this)}}validation{{/if}}"
        title="{{actorItemHeroValidation this}}"
        data-item-id="{{this._id}}">

        <td width = "24px">
            {{#if this.isContainer}}
                {{#if this.system.collapse}}
                    <a class="item-image item-control item-expand" title="{{localize "ActorSheet.ExpandItem"}}" >
                        <i class="fas fa-square-caret-right fa-2x"></i>
                    </a>
                {{else}}
                    <a class="item-image item-control item-collapse" title="{{localize "ActorSheet.CollapseItem"}}" >
                        <i class="fas fa-square-caret-down fa-2x"></i>
                    </a>
                {{/if}}
            {{else}}
                {{#unless this.isSeparator}}
                    <div class="item-image">
                        {{#if (actorItemHeroValidation this)}}
                            <i class="fa-regular fa-circle-exclamation fa-2xl"></i>
                        {{else}}
                            <img src="{{this.img}}" title="{{this.name}}" width="24" height="24" />
                        {{/if}}
                    </div>
                {{/unless}}
            {{/if}}
        </td>
        <td>
            {{#if (eq this.system.XMLID "COMPOUNDPOWER")}}
                {{this.compoundCost}}
            {{else if this.isSeparator}}
                {{!-- Show no cost--}}
            {{else if (eq this.system.XMLID "LIST")}}
                <span style="opacity: 0.5">{{this.listCost}}</span>
            {{else}}
                {{#if (eq this.parentItem.system.XMLID "COMPOUNDPOWER")}}
                    <span style="opacity: 0.5">{{this.characterPointCostForDisplayPlusSuffix}}</span>
                {{else}}
                    {{this.characterPointCostForDisplayPlusSuffix}}
                {{/if}}
            {{/if}}
        </td>
        <td class="left{{#if this.parentItem.type}} item-framework-child-name{{#if this.parentItem.parentItem}}2{{/if}}{{/if}} {{#if (and this.childIdx this.parentItem)}}parent-xmlid-{{toLowerCase this.parentItem.system.XMLID}} parent-xmlid-{{toLowerCase this.parentItem.parentItem.system.XMLID}}{{/if}}">
            {{#if (and this.childIdx this.parentItem)}}
                {{this.childIdx}})
            {{/if}}
            {{{itemFullDescription this}}}
            {{#if this.system.NOTES}}
                <div class="item-notes-editable-content"><b>Notes:</b> {{{this.system.NOTES}}}</div>
            {{/if}}
        </td>
        <td>
            {{#if this.system.roll}}
                {{toLowerCase this.system.CHARACTERISTIC}}
            {{/if}}
        </td>
        <td>
            {{> (getModulePath 'item/item-action-icons-partial.hbs') this }}
        </td>
        
        <td>
            {{> (getModulePath 'item/item-information-modification-icons-partial.hbs') this }}
        </td>
    </tr>
{{/if}}

{{#if (not this.system.collapse)}}
    {{#each this.childItems }}
        {{> (getModulePath 'actor/actor-sheet-partial-skills-item.hbs') this }}
    {{/each}}
{{/if}}