<div class="tab tab-body" data-group="primary" data-tab="equipment">
    <table>
        <tr>
            <th class="sticky" colspan="1" class="right">Filter:</th>
            <th class="sticky" colspan="3">
                <input class="left" name="itemFilters.equipment" type="text"
                    value="{{options.itemFilters.equipment}}">
            </th>
            <th class="sticky" colspan="2">WEIGHT: {{weightTotal}}</th>
            <th class="sticky" colspan="2">PRICE: {{priceTotal}}</th>
        </tr>
        <tr>
            <th class="sticky2"></th>
            <th class="left sticky2">{{localize "ActorSheet.Description"}}</th>
            <th class="sticky2">{{localize "ActorSheet.End"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Price"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Weight"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Carried"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Active"}}</th>
            <th class="sticky2">
                <a class="item-control item-create" title="Create equipment" data-type="equipment">
                    <i class="fas fa-plus"></i> Add Equipment</a>
            </th>
        </tr>
        {{#each items as |item id|}}
            {{#if (and (eq item.type "equipment") (not item.parentItem) (filterItem item
            ../options.itemFilters.equipment))
            }}
                {{> (getModulePath 'actor/actor-sheet-partial-equipment-item.hbs') }}
            {{/if}}
        {{/each}}
    </table>
</div> 