<div class="tab tab-body" data-group="primary" data-tab="powers">
    <table>
        <tr>
            <th class="right sticky" colspan="2">Filter:</th>
            <th class="sticky" colspan="4">
                <input class="left" name="itemFilters.power" type="text"
                    value="{{options.itemFilters.power}}">
            </th>
        </tr>
        <tr>
            <th class="sticky2"></th>
            <th class="sticky2">{{localize "ActorSheet.Cost"}}</th>
            <th class="left sticky2">{{localize "ActorSheet.Description"}}</th>
            <th class="sticky2">{{localize "ActorSheet.End"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Active"}}</th>
            <th class="sticky2">
                <a class="item-control item-create" title="Create power" data-type="power">
                    <i class="fas fa-plus"></i> Add Power</a>
            </th>
        </tr>
        {{#each items as |item id|}}
            {{!-- Show powers and things in a framework or compound power --}}
            {{#if (and (eq item.type "power") (not item.parentItem) (ne item.system.XMLID "__STRENGTHDAMAGE"))}}
                {{#if (filterItem item @root/options.itemFilters.power)}}
                    {{> (getModulePath 'actor/actor-sheet-partial-powers-item.hbs') item }}
                {{/if}}
            {{/if}}
        {{/each}}
    </table>
</div>
