{{!-- {{log 'actor-sheet-partial-martialarts-item' this}} --}}
{{#if (filterItem this @root.options.itemFilters.martial)}}
    <tr class="item {{#if (not this.isFromBaseActor)}}delta-item{{/if}} {{#if (gt this.system.value this.system.max)}}over-max{{/if}}{{#if (lt this.system.value this.system.max)}} under-max{{/if}}"
        data-item-id="{{this._id}}">
        {{#if (eq this.system.XMLID "LIST")}}
            <td height="24"></td>
            <td></td>
            <td class="left">{{{this.system.ALIAS}}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        {{else}}
            <td width = "24px">
                {{#if this.isContainer}}
                    {{#if this.system.collapse}}
                        <a class="item-image item-control item-expand" title="{{localize "ActorSheet.ExpandItem"}}" >
                            <i class="fas fa-square-caret-right fa-2x"></i>
                        </a>
                    {{else}}
                        <a class="item-image item-control item-collapse" title="{{localize "ActorSheet.CollapseItem"}}" >
                            <i class="fas fa-square-caret-down fa-2x"></i>
                        </a>
                    {{/if}}
                {{else}}
                    {{#unless this.isSeparator}}
                        <div class="item-image"><img src="{{this.img}}" title="{{this.name}}" width="24"
                            height="24" /></div>
                    {{/unless}}
                {{/if}}
            </td>
            <td class="td-cost">
                {{#if (eq this.system.XMLID "COMPOUNDPOWER")}}
                    {{this.compoundCost}}
                {{else if this.isSeparator}}
                    {{!-- Show no cost--}}
                {{else if (eq this.system.XMLID "LIST")}}
                    <span style="opacity: 0.5">{{this.listCost}}</span>
                {{else}}
                    {{#if (eq this.parentItem.system.XMLID "COMPOUNDPOWER")}}
                        <span style="opacity: 0.5">{{this.system.realCost}}</span>
                    {{else}}
                        {{this.system.realCost}}
                    {{/if}}
                {{/if}}
            </td>
            <td class="left{{#if this.parentItem.type}} item-framework-child-name{{#if this.parentItem.parentItem}}2{{/if}}{{/if}}">
                {{#if (and this.childIdx this.parentItem)}}
                    {{this.childIdx}})
                {{/if}}
                {{{itemName this}}}
                {{!-- {{#if this.system.NOTES}}
                    <div class="item-notes-editable-content"><b>Notes:</b> {{{this.system.NOTES}}}</div>
                {{/if}} --}}
            </td>
            <td class="left">{{#if (ne this.system.XMLID "LIST")}}{{this.system.description}}{{/if}}</td>
            <td>{{this.system.PHASE}}</td>
            <td>{{this.system.OCV}}</td>
            <td>{{this.system.DCV}}</td>
            <td>
                {{> (getModulePath 'item/item-action-icons-partial.hbs') this }}
            </td>
        {{/if}}

        <td>
            {{#unless this.isSeparator}}
                <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                    class="fas fa-comment-alt"></i></a>
                        
                <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
            {{/unless}}
            
            <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}" >
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
{{/if}}
{{#if (not this.system.collapse)}}
    {{#each this.childItems }}
        {{> (getModulePath 'actor/actor-sheet-partial-martialarts-item.hbs') }}
    {{/each}}
{{/if}}