{{log 'actor-sheet' this}}
<form class="{{cssClass}}" autocomplete="off">

    <aside>
        <div class="sidebar">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />

            <section class="flexrow">
                <ul class="attributes flexcol">

                    {{#if hasEND}}
                    <li class="attribute health" data-ability="end">
                        <h4 class="attribute-name box-title">Endurance</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.end.value" type="text"
                                value="{{actor.system.characteristics.end.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.end.value actor.system.characteristics.end.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.end.value actor.system.characteristics.end.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.end.max}})
                            </span>
                        </div>
                    </li>
                    {{/if}}

                    <li class="attribute health" data-ability="body">
                        <h4 class="attribute-name box-title">Body</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.body.value" type="text"
                                value="{{actor.system.characteristics.body.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.body.value actor.system.characteristics.body.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.body.value actor.system.characteristics.body.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.body.max}})
                            </span>
                        </div>
                    </li>

                    {{#if hasSTUN}}
                    <li class="attribute health" data-ability="stun">
                        <h4 class="attribute-name box-title">Stun</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="Xsystem.characteristics.stun.value" type="text"
                                value="{{actor.system.characteristics.stun.value}}" data-dtype="Number"
                                class="{{#if (gt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}}overMax{{/if}}{{#if (lt actor.system.characteristics.stun.value actor.system.characteristics.stun.max)}}underMax{{/if}}">
                            <span class="sep"> / </span>
                            <span>
                                ({{actor.system.characteristics.stun.max}})
                            </span>
                        </div>
                    </li>
                    {{/if}}

                    {{#if useHAP }}
                    <li class="attribute heroic-action-points" data-ability="hap">
                        <h4 class="attribute-name box-title" title="Heroic Action Points">HAP</h4>
                        <div class="attribute-value multiple characteristic">
                            <input name="system.hap.value" type="text"
                                value="{{actor.system.hap.value}}" data-dtype="Number"
                                >
                        </div>
                    </li>
                    {{/if}}


                    <ul class="defenses">
                        <li title="{{defense.PDtags}}"><span>PD={{defense.PD}}</span></li>
                        <li title="{{defense.rPDtags}}"><span>rPD={{defense.rPD}}</span></li>
                        <li title="{{defense.EDtags}}"><span>ED={{defense.ED}}</span></li>
                        <li title="{{defense.rEDtags}}"><span>rED={{defense.rED}}</span></li>

                        <li title="{{defense.MDtags}}"><span>MD={{defense.MD}}</span></li>
                        {{#if defense.rMD}}<li title="{{defense.rMDtags}}"><span>rMD={{defense.rMD}}</span></li>{{/if}}

                        {{#if defense.drp}}<li title="{{defense.drptags}}"><span>drp={{defense.drp}}%</span></li>{{/if}}
                        {{#if defense.dre}}<li title="{{defense.dretags}}"><span>dre={{defense.dre}}%</span></li>{{/if}}
                        {{#if defense.drm}}<li title="{{defense.drmtags}}"><span>drm={{defense.drm}}%</span></li>{{/if}}

                        {{#if defense.dnp}}<li title="{{defense.dnptags}}"><span>dnp={{defense.dnp}}</span></li>{{/if}}
                        {{#if defense.dne}}<li title="{{defense.dnetags}}"><span>dne={{defense.dne}}</span></li>{{/if}}
                        {{#if defense.dnm}}<li title="{{defense.dnmtags}}"><span>dnm={{defense.dnm}}</span></li>{{/if}}

                        <li title="{{defense.POWDtags}}"><span>POWD={{defense.POWD}}</span></li>
                        {{#if defense.rPOWD}}<li title="{{defense.rPOWDtags}}"><span>rPOWD={{defense.rPOWD}}</span></li>{{/if}}
                    </ul>

                    <div class="sidebar-actions flexrow flex-group-center">
                        <button type="button" class="recovery-button">Take Recovery</button>
                        <button type="button" class="presence-button">Presence Attack</button>
                        <button type="button" class="full-health-button"
                            title="Restore all characteristics to max, remove status effects, and remove temporary effects">Full
                            Health</button>
                        <button type="button" class="actor-description-button"
                            title="Show Actor Description and all perceivable powers">Actor Description</button>
                    </div>
                </ul>
            </section>
        </div>
    </aside>

    <!-- TOP DIV -->
    <header class="char-header sheet-header ">
        <div class="header-fields flexrow" style="width: 100%">
            <h1 class="charname flex4"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>


            {{#if actor.system.is5e}}
            <div class="fifthEd flex0" title="5th edition character">5e</div>
            {{/if}}

            {{#if actor.system.points}}
            <div class="points flex0" title="{{pointsTitle}}">{{actor.system.points}}CP</div>
            {{/if}}

            {{#if actor.system.activePoints}}
            <div class="points flex0" title="{{activePointsTitle}}">{{actor.system.activePoints}}AP</div>
            {{/if}}

            <label class="upload-button flex0">
                <span>Upload&nbsp;.HDC</span>
                <input type="file" accept=".hdc" />
            </label>

            {{!-- {{#if isGM}}
            <select name="type" data-dtype="text">
                {{selectOptions actorTypeChoices selected=actor.type localize=true}}
            </select>
            {{/if}} --}}
        </div>
    </header>


    <!-- NAV BAR -->
    <nav class="sheet-navigation flexrow" data-group="primary">

        <a class="item-nav" data-tab="attacks">Attacks</a>
        {{#if hasMartialArts}}
            <a class="item-nav" data-tab="martialArts">MartialArts</a>
        {{/if}}
        <a class="item-nav" data-tab="defenses">Defenses</a>
        <a class="item-nav" data-tab="skills">Skills</a>

        <a class="item-nav" data-tab="maneuvers">Maneuvers</a>
        <a class="item-nav" data-tab="movement">Movement</a>
        <a class="item-nav" data-tab="powers">Powers</a>

        {{#if hasEquipment}}
            <a class="item-nav" data-tab="equipment">Equipment</a>
        {{/if}}
        <a class="item-nav" data-tab="characteristics">Characteristics</a>
        <a class="item-nav" data-tab="other">Other</a>
        {{!-- <a class="item-nav" data-tab="description">Description</a> --}}
    </nav>


    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <section class="sheet-content"> {{!-- sheet-content scrolls --}}

            {{!-- Attacks Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="attacks">

                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.OffVDef"}}</th>
                        <th>{{localize "ActorSheet.Dmg"}}</th>
                        <th>{{localize "ActorSheet.Res"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Aoe"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (or (eq item.type "attack") (and (ne item.type "maneuver") (eq item.system.subType "attack")))}}
                            <tr class="item {{#if (gt item.system.value item.system.max)}} overMax{{/if}}{{#if (lt item.system.value item.system.max)}} underMax{{/if}}"
                                data-item-id="{{item._id}}">
                                <td>
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td class="left">
                                    {{{itemName item}}}
                                </td>
                                <td title="{{{item.flags.tags.ocv}}}">
                                    {{item.system.ocvEstimated}}
                                </td>
                                <td title="{{{item.flags.tags.dcv}}}">
                                    {{item.system.dcvEstimated}}
                                </td>
                                <td>
                                    {{item.system.uses}} vs {{item.system.targets}}
                                </td>
                                 <td title="{{{item.flags.tags.dc}}}">
                                    {{item.system.damage}}
                                </td>
                                <td>
                                    {{item.system.class}}
                                </td>
                                <td>
                                    {{item.system.endEstimate}}
                                </td>
                                <td>
                                    {{#if (eq item.system.areaOfEffect.type "none")}}
                                        -
                                    {{else}}
                                        {{#if (ne item.system.areaOfEffect.type "none")}}
                                            {{item.system.areaOfEffect.type}}
                                            {{#if (or item.system.areaOfEffect.isExplosion (gt item.system.areaOfEffect.value 0))}}
                                                ({{#if (gt item.system.areaOfEffect.value 0)}}{{item.system.areaOfEffect.value}}{{/if}}{{#if item.system.areaOfEffect.isExplosion}}e{{/if}})
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24" height="24"></i></a>
                                </td>
                                <td>
                                    <div class="item-controls" data-group="mode">
                                        <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i class="fas fa-comment-alt"></i></a>
                                        <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}"><i class="fas fa-trash"></i></a>
                                    </div>
                                </td>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Attacks Tab --}}

            {{!-- Martial Arts Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="martialArts">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.Phase"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        {{!-- <th>
                            <a class="item-control item-create" title="Create Martial Art" data-type="martialArt">
                                <i class="fas fa-plus"></i> Add MartialArt</a>
                        </th> --}}
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (eq item.type "martialart") }}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td>{{item.system.realCost}}</td>
                                <td class="left">{{{itemName item}}}</td>
                                <td class="left">{{item.system.description}}</td>
                                <td>{{item.system.phase}}</td>
                                <td>{{item.system.ocvEstimated}}</td>
                                <td>{{item.system.dcvEstimated}}</td>
                                <td>
                                    {{#if item.system.dice}}
                                        <a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24" height="24"></i></a>
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- MartialArts Tab --}}


            {{!-- Defenses Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="defenses">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (or (eq item.type "defense") (eq item.system.subType "defense") (includes item.baseInfo.type "defense")) }}
                            <tr class="item {{#if (gt item.system.value item.system.max)}} overMax{{/if}}{{#if (lt item.system.value item.system.max)}} underMax{{/if}}"
                                data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td class="left">
                                    {{!-- {{#if item.system.childIdx}}{{item.system.childIdx}}){{/if}} --}}
                                    {{#if item.parentItem}}{{item.parentItem.name}}: {{/if}}
                                    {{{itemFullDescription item}}}
                                </td>
                                <td>{{item.system.end}}</td>
                                <td>
                                    <input class="item-toggle" type="checkbox" title="CTRL to force toggle" {{checked item.system.active}}
                                        data-dtype="Boolean" />
                                </td>
                                <td>
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>

                            </tr>
                        {{/if}}
                    {{/each}}

                </table>

            </div> {{!-- Defenses Tab --}}


            {{!-- Skills Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="skills">
                <table>
                    <tr class="sticky">
                        <th colspan="1" class="right">Filter:</th>
                        <th colspan="5">
                            <input class="left" name="itemFilters.skill" type="text"
                                value="{{options.itemFilters.skill}}">
                        </th>
                    </tr>
                    <tr class="sticky2">
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Char"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create skill" data-type="skill">
                                <i class="fas fa-plus"></i> Add Skill</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (and (or (eq item.type "skill") (eq item.system.subType "skill")) (filterItem item
                        ../options.itemFilters.skill))}}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td>
                                    {{#if (and (ne item.system.realCost 0) (ne item.system.XMLID "LIST"))}}
                                        {{item.system.realCost}}</td>
                                    {{/if}}
                                <td class="left{{#if (eq item.parentItem.type "skill")}} item-framework-child-name{{/if}}{{#if item.parentItem.parentItem}}2{{/if}}">
                                    {{#if item.system.childIdx}}
                                        {{#if (eq item.parentItem.type "skill")}}
                                            {{item.system.childIdx}})
                                        {{else}}
                                            {{item.parentItem.name}}:
                                        {{/if}}
                                    {{/if}}
                                    {{#if (ne item.name "LIST")}}
                                        {{{itemFullDescription item}}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if item.system.roll}}
                                        {{toLowerCase item.system.CHARACTERISTIC}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{#if item.system.roll}}
                                        <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                            data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                            sign=false}}-</button>
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Skills Tab --}}


            {{!-- Maneuvers Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="maneuvers">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th>{{localize "ActorSheet.Effect"}}</th>
                        <th>{{localize "ActorSheet.Phase"}}</th>
                        <th>{{localize "ActorSheet.OCV"}}</th>
                        <th>{{localize "ActorSheet.DCV"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (or (and (itemIsManeuver item) (eq (itemIsOptionalManeuver item) false)) (and (eq (gameConfigValue "optionalManeuvers") true) (itemIsOptionalManeuver item))) }}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td class="left">{{{itemName item}}}</td>
                                <td class="left">{{item.system.EFFECT}}</td>
                                <td>{{item.system.phase}}</td>
                                <td>{{item.system.ocvEstimated}}</td>
                                <td>{{item.system.dcvEstimated}}</td>
                                <td>
                                    {{#if (ne item.system.subType "attack")}}
                                        <input class="item-toggle" type="checkbox" name="item.system.active" {{checked
                                            item.system.active}} data-dtype="Boolean" />
                                    {{else}}
                                        <a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24"
                                                height="24"></i></a>
                                    {{/if}}
                                </td>
                                <td>
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Maneuvers Tab --}}


            {{!-- Movement Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="movement">
                <table>
                    <tr class="sticky">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Name"}}</th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.Value"}}</th>
                        <th>{{localize "ActorSheet.Velocity"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th class="right">
                            {{!-- <a class="item-control item-create" title="Create movement" data-type="movement">
                                <i class="fas fa-plus"></i> Add Movement</a> --}}
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (or (eq item.type "movement")(eq item.system.subType "movement")) }}
                            <tr class="item {{#if (gt item.system.value item.system.max)}} overMax{{/if}}{{#if (lt item.system.value item.system.max)}} underMax{{/if}}"
                                data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td class="left">{{{itemName item}}}</td>
                                <td class="left">{{item.system.description}}</td>
                                <td>{{item.system.value}}</td>
                                <td>{{item.system.velValue}}</td>
                                <td>
                                    {{#if item.system.showToggle}}<input class="item-toggle" type="checkbox"  title="CTRL to force toggle"
                                        name="item.system.active" {{checked item.system.active}} data-dtype="Boolean"
                                        data-action="toggle" />
                                    {{/if}}
                                </td>
                                <td class="right">
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Movement Tab --}}

            {{!-- Powers Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="powers">
                <table>
                    <tr class="sticky">
                        <th colspan="2" class="right">Filter:</th>
                        <th colspan="4">
                            <input class="left" name="itemFilters.power" type="text"
                                value="{{options.itemFilters.power}}">
                        </th>
                    </tr>
                    <tr class="sticky2">
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        {{!-- <th class="left">{{localize "ActorSheet.Name"}}</th> --}}
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create power" data-type="power">
                                <i class="fas fa-plus"></i> Add Power</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{!-- Show powers and things in a framework or compound power --}}
                        {{#if (and (or (eq item.type "power") (eq item.parentItem.type "framework") (eq item.parentItem.type "power")) (filterItem item ../options.itemFilters.power))}}
                            {{#if (eq item.system.XMLID "LIST")}}
                                <tr class="item">
                                    <td height="24"></td>
                                    <td></td>
                                    <td class="left">{{item.system.ALIAS}}</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            {{else if (or (not item.parentItem) (eq item.parentItem.type "power"))}}
                                <tr class="item {{#if (gt item.system.value item.system.max)}}overMax{{/if}}{{#if (lt item.system.value item.system.max)}} underMax{{/if}}"
                                    data-item-id="{{item._id}}">
                                    <td>
                                        <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                                height="24" /></div>
                                    </td>
                                    <td>{{item.system.realCost}}</td>
                                    <td class="left{{#if item.parentItem.type}} item-framework-child-name{{/if}}{{#if item.parentItem.parentItem}}2{{/if}}">
                                        {{#if (and item.system.childIdx item.parentItem)}}
                                            {{item.system.childIdx}})
                                        {{/if}}
                                        {{{itemFullDescription item}}}
                                    </td>
                                    <td>{{item.system.endEstimate}}</td>

                                    <td>
                                        {{#if (ne item.system.subType "attack")}}
                                            {{#if item.system.showToggle}}
                                                <input class="item-toggle" type="checkbox" title="CTRL to force toggle"
                                                    Xname="item.system.active" {{checked item.system.active}} data-dtype="Boolean"
                                                    data-action="toggle" />
                                            {{/if}}
                                            {{#if item.system.roll}}
                                                <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                                    data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                                    sign=false}}-</button>
                                            {{/if}}
                                        {{else}}
                                            <a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24" height="24"></i></a>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                                class="fas fa-comment-alt"></i></a>
                                        <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                        <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {{else}}
                                {{!-- These are subitems of equipment, which don't belong in the POWERS tab --}}
                                {{!-- <tr><td>{{item.name}} {{item.parentItem.type}}</td></tr> --}}
                            {{/if}}
                        {{else}}
                            {{!-- testing --}}
                            {{!-- <tr><td>{{item.name}} {{item.parentItem.type}}</td></tr> --}}
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Powers Tab --}}


            {{!-- Equipment Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="equipment">
                <table>
                    <tr class="sticky">
                        <th colspan="1" class="right">Filter:</th>
                        <th colspan="2">
                        <input class="left" name="itemFilters.equipment" type="text"
                            value="{{options.itemFilters.equipment}}">
                        </th>
                        <th colspan="2">WEIGHT: {{weightTotal}}</th>
                        <th colspan="2">PRICE: {{priceTotal}}</th>
                    </tr>
                    <tr class="sticky2">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.Description"}}</th>
                        <th>{{localize "ActorSheet.End"}}</th>
                        <th>{{localize "ActorSheet.Price"}}</th>
                        <th>{{localize "ActorSheet.Weight"}}</th>
                        <th>{{localize "ActorSheet.Carried"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create equipment" data-type="equipment">
                                <i class="fas fa-plus"></i> Add Equipment</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (and (or (eq item.type "equipment") (eq item.parentItem.type "equipment")) (filterItem item
                        ../options.itemFilters.equipment))}}
                            <tr class="item {{#if (gt item.system.value item.system.max)}} overMax{{/if}}{{#if (lt item.system.value item.system.max)}} underMax{{/if}}"
                                data-item-id="{{item._id}}">
                                <td class="item-image-td" style="width:26px">
                                    <div class="item-image" width="26px"><img src="{{item.img}}" title="{{item.name}}" width="24px"
                                            height="24px" /></div>
                                </td>
                                
                                <td class="left{{#if item.parentItem}} item-framework-child-name{{/if}}{{#if item.parentItem.parentItem}}2{{/if}}">
                                    {{#if item.system.childIdx}}
                                        {{item.system.childIdx}})
                                    {{/if}}
                                    {{{itemFullDescription item}}}
                                </td>

                                {{#if item.system.childIdx}}
                                <td>{{item.system.end}}</td>
                                <td>{{item.system.PRICEtext}}</td>
                                <td>{{item.system.WEIGHTtext}}</td>
                                <td></td>
                                {{else}}
                                <td>{{item.system.end}}</td>
                                <td>{{item.system.PRICEtext}}</td>
                                <td>{{item.system.WEIGHTtext}}</td>
                                <td>
                                    <input class="item-toggle" type="checkbox"  title="CTRL to force toggle" name="item.system.active"  {{checked
                                        item.system.active}} data-dtype="Boolean" />
                                </td>
                                {{/if}}
                                <td>
                                    {{#if (ne item.system.subType "attack")}}
                                        {{#if item.system.showToggle}}
                                            <input class="item-toggle" type="checkbox" title="CTRL to force toggle"
                                                Xname="item.system.active" {{checked item.system.active}} data-dtype="Boolean"
                                                data-action="toggle" />
                                        {{/if}}
                                        {{#if item.system.roll}}
                                            <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                                data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                                sign=false}}-</button>
                                        {{/if}}
                                    {{else}}
                                        <a class="item-image item-rollable"><i class="fas fa-dice" title="{{item.name}}" width="24" height="24"></i></a>
                                    {{/if}}
                                </td>
                                <td>
                                    {{#unless (or (eq item.system.XMLID "LIST") (eq item.system.XMLID "MULTIPOWER"))}}
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                    {{/unless}}
                                </td>
                                
                            </tr>
                        {{else}}
                            {{!-- <tr>
                                <td>
                                    __{{item.name}} {{item.parentItem.type}}
                                </td>
                            </tr> --}}
                        {{/if}}
                    {{/each}}
                </table>
            </div> {{!-- Equipment Tab --}}


            {{!-- Characteristics Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="characteristics">
                <table>
                    <tr class="sticky">
                        <th title="{{localize 'ActorSheet.ValueTitle'}}">{{localize "ActorSheet.Value"}}</th>
                        <th title="{{localize 'ActorSheet.MaxTitle'}}">{{localize "ActorSheet.Max"}}</th>
                        <th title="{{localize 'ActorSheet.CoreTitle'}}">{{localize "ActorSheet.Core"}}</th>
                        <th title="{{localize 'ActorSheet.CharTitle'}}">{{localize "ActorSheet.Char"}}</th>
                        <th title="{{localize 'ActorSheet.BaseTitle'}}">{{localize "ActorSheet.Base"}}</th>
                        <th title="{{localize 'ActorSheet.CostTitle'}}">{{localize "ActorSheet.Cost"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th title="{{localize 'ActorSheet.NoteTitle'}}">{{localize "ActorSheet.Notes"}}</th>
                    </tr>
                    {{#each characteristicSet as |characteristic key|}}
                    <tr class="characteristic">
                        <td data-tooltip="{{{characteristic.valueTitle}}}"
                            class="{{#if characteristic.valueTitle}}characteristic-locked{{/if}}">
                            <input name="system.characteristics.{{characteristic.key}}.value" type="number"
                                value="{{characteristic.value}}" data-dtype="Number"
                                class="{{#if (gt characteristic.value characteristic.max)}}overMax{{/if}}{{#if (lt characteristic.value characteristic.max)}}underMax{{/if}}"
                                {{#if characteristic.valueTitle}}disabled{{/if}}
                            >
                        </td>
                        <td data-tooltip="{{{characteristic.maxTitle}}}"
                            class="{{#if characteristic.maxTitle}}characteristic-locked{{/if}}">
                            <input name="system.characteristics.{{characteristic.key}}.max" type="number"
                                class="{{#if (gt characteristic.delta 0)}} overMax{{/if}}{{#if (lt characteristic.delta 0)}} underMax{{/if}}"
                                value="{{characteristic.max}}" data-dtype="Number" {{#if
                                characteristic.maxTitle}}disabled{{/if}}>
                        </td>
                        <td>
                            {{#unless (eq characteristic.core null)}}
                            <input name="system.characteristics.{{characteristic.key}}.core" type="number"
                                value="{{characteristic.core}}" data-dtype="Number" {{#if (eq characteristic.core
                                null)}}disabled{{/if}}>
                            {{/unless}}
                        </td>
                        <td title="{{characteristic.name}}">
                            {{toUpperCase characteristic.key}}
                        </td>
                        <td>
                            {{#if characteristic.base}}
                                {{characteristic.base}}
                            {{/if}}
                        </td>
                        <td {{#if characteristic.costTitle}}title="{{characteristic.costTitle}}" {{/if}}>
                            {{#unless (eq characteristic.core null)}}
                            {{characteristic.realCost}}
                            {{/unless}}
                        </td>
                        <td>
                            {{#if characteristic.roll}}
                            <button type="button" class="characteristic-roll"
                                data-label="{{characteristic.key}}">{{numberFormat characteristic.roll decimals=0
                                sign=false}}-</button>
                            {{/if}}
                        </td>
                        <td>{{characteristic.notes}}</td>
                    </tr>
                    {{/each}}

                </table>

            </div> {{!-- Characteristics Tab --}}



            {{!-- Other Tab --}}
            <div class="tab tab-body" data-group="primary" data-tab="other">
                <div class="form-group">
                    <label>Initiative Characteristic</label>
                    <select name="system.initiativeCharacteristic" data-dtype="text">
                        <option value="dex">DEX</option>
                        <option value="ego" {{#if (eq actor.system.initiativeCharacteristic 'ego' )}}selected{{/if}}>EGO
                        </option>
                    </select>
                </div>
                <br>

                <table>
                    <tr>
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Perk"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create perk" data-type="perk">
                                <i class="fas fa-plus"></i> Add Perk</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (eq item.type "perk") }}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td>{{item.system.realCost}}</td>
                                <td class="left">
                                    {{{itemFullDescription item}}}
                                </td>
                                <td>
                                    {{#if item.system.roll}}
                                        <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                            data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                            sign=false}}-</button>
                                    {{/if}}
                                </td>
                                <td class="right">
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Talent"}}</th>
                        <th>{{localize "ActorSheet.Active"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create talent" data-type="talent">
                                <i class="fas fa-plus"></i> Add Talent</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (eq item.type "talent") }}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td>{{item.system.realCost}}</td>
                                <td class="left">
                                    {{{itemFullDescription item}}}
                                </td>
                                <td>
                                    {{#if item.system.roll}}
                                        <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                            data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                            sign=false}}-</button>
                                    {{/if}}
                                    {{#if item.system.showToggle}}
                                        <input class="item-toggle" type="checkbox"  title="CTRL to force toggle" {{checked item.system.active}}
                                            data-dtype="Boolean" />
                                    {{/if}}
                                </td>
                                <td class="right">
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th></th>
                        <th>{{localize "ActorSheet.Cost"}}</th>
                        <th class="left">{{localize "ActorSheet.Complication"}}</th>
                        <th>{{localize "ActorSheet.Roll"}}</th>
                        <th>
                            <a class="item-control item-create" title="Create complication" data-type="disadvantage">
                                <i class="fas fa-plus"></i> Add Complication</a>
                        </th>
                    </tr>
                    {{#each items as |item id|}}
                        {{#if (or (eq item.type "complication") (eq item.type "disadvantage")) }}
                            <tr class="item" data-item-id="{{item._id}}">
                                <td style="min-width: 24px">
                                    <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24"
                                            height="24" /></div>
                                </td>
                                <td>{{item.system.realCost}}</td>
                                <td class="left">
                                    {{{itemFullDescription item}}}
                                </td>
                                <td>
                                    {{#if item.system.roll}}
                                        <button type="button" class="item-rollable" data-roll="{{item.system.roll}}"
                                            data-label="{{item._id}}">{{numberFormat item.system.roll decimals=0
                                            sign=false}}-</button>
                                    {{/if}}
                                </td>
                                <td class="right">
                                    <a class="item-control item-chat" title="{{localize "ActorSheet.SendToChat"}}"><i
                                            class="fas fa-comment-alt"></i></a>
                                    <a class="item-control item-edit" title="{{localize "ActorSheet.EditItem"}}"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="{{localize "ActorSheet.DeleteItem"}}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr class="activeEffects temporaryEffects">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.ActiveEffectTemporary"}}</th>
                        <th>Active</th>
                        <th>
                            <a class="item-control effect-create" title="Create Active Effect" data-type="activeEffect"
                                data-action="create">
                                <i class="fas fa-plus"></i> Add Active Effect</a>
                        </th>
                    </tr>
                    {{#each allTemporaryEffects as |effect key|}}
                        <tr class="item" data-effect-id="{{effect._id}}">
                            <td style="min-width: 24px">
                                <div class="item-image"><img src="{{effect.img}}" title="{{effect.name}}" width="24"
                                        height="24" /></div>
                            </td>
                            <td class="left">{{effect.name}}</td>
                            <td>
                                <input class="effect-toggle" data-action="toggle" type="checkbox" {{checked (not
                                    effect.disabled)}} data-dtype="Boolean" data-action="toggle" />
                            </td>
                            <td class="right">
                                <a class="item-control effect-edit" data-action="edit" title="Edit effect"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control effect-delete" data-action="delete" title="Delete effect">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}

                    <tr class="activeEffects ConstantEffects">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.ActiveEffectConstant"}}</th>
                        <th>Active</th>
                        <th>
                            <a class="item-control effect-create" title="Create Active Effect" data-type="activeEffect"
                                data-action="create">
                                <i class="fas fa-plus"></i> Add ActiveEffect</a>
                        </th>
                    </tr>

                    {{#each allConstantEffects as |effect key|}}
                        <tr class="item" data-effect-id="{{effect._id}}">
                            <td style="min-width: 24px">
                                <div class="item-image"><img src="{{effect.img}}" title="{{effect.name}}" width="24"
                                        height="24" /></div>
                            </td>
                            <td class="left">{{effect.name}}</td>
                            <td>
                                <input class="effect-toggle" data-action="toggle" type="checkbox" {{checked (not
                                    effect.disabled)}} data-dtype="Boolean" data-action="toggle" />
                            </td>
                            <td class="right">
                                <a class="item-control effect-edit" data-action="edit" title="Edit effect"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control effect-delete" data-action="delete" title="Delete effect">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}

                    <tr class="activeEffects PersistentEffects">
                        <th></th>
                        <th class="left">{{localize "ActorSheet.ActiveEffectPersistent"}}</th>
                        <th>Active</th>
                        <th>
                            <a class="item-control effect-create" title="Create Active Effect" data-type="activeEffect"
                                data-action="create">
                                <i class="fas fa-plus"></i> Add Active Effect</a>
                        </th>
                    </tr>

                    {{#each allPersistentEffects as |effect key|}}
                        <tr class="item" data-effect-id="{{effect._id}}">
                            <td style="min-width: 24px">
                                <div class="item-image"><img src="{{effect.img}}" title="{{effect.name}}" width="24"
                                        height="24" /></div>
                            </td>
                            <td class="left">{{effect.name}}</td>
                            <td>
                                <input class="effect-toggle" data-action="toggle" type="checkbox" {{checked (not
                                    effect.disabled)}} data-dtype="Boolean" data-action="toggle" />
                            </td>
                            <td class="right">
                                <a class="item-control effect-edit" data-action="edit" title="Edit effect"><i
                                        class="fas fa-edit"></i></a>
                                <a class="item-control effect-delete" data-action="delete" title="Delete effect">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}

                </table>

                <br />

                <table>
                    <tr>
                        <th class="left">Top Active Point Powers</th>
                        <th>AP</th>
                    </tr>
                    {{#each activePointSummary as |item id|}}
                        <tr class="item">
                            <td class="left">{{item.name}}</td>
                            <td>{{item.activePoints}}</td>
                        </tr>
                    {{/each}}

                </table>

                <br />

                <div class="form-group">
                    <label for="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE"><b>EXPERIENCE</b></label>
                    <input name="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE" value="{{actor.system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE}}" type="number">
                </div>

                <table>

                    {{#if actor.system.CHARACTER.CHARACTER_INFO.BIOGRAPHY}}
                        <tr>
                            <th class="left">{{localize "ActorSheet.Biography"}}</th>
                        </tr>
                        <tr>
                            <td class="left">
                                {{editor
                                enrichedBIOGRAPHY
                                target="system.CHARACTER.CHARACTER_INFO.BIOGRAPHY"
                                button=true
                                editable=editable
                                }}
                            </td>
                        </tr>
                    {{/if}}

                    <tr>
                        <th class="left">{{localize "ActorSheet.BACKGROUND"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedBACKGROUND
                            target="system.CHARACTER.CHARACTER_INFO.BACKGROUND"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>

                    <tr>
                        <th class="left">{{localize "ActorSheet.PERSONALITY"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedPERSONALITY
                            target="system.CHARACTER.CHARACTER_INFO.PERSONALITY"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>

                    <tr>
                        <th class="left">{{localize "ActorSheet.QUOTE"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedQUOTE
                            target="system.CHARACTER.CHARACTER_INFO.QUOTE"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>

                    <tr>
                        <th class="left">{{localize "ActorSheet.TACTICS"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedTACTICS
                            target="system.CHARACTER.CHARACTER_INFO.TACTICS"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>

                    <tr>
                        <th class="left">{{localize "ActorSheet.CAMPAIGN_USE"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedCAMPAIGN_USE
                            target="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_USE"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>

                    <tr>
                        <th class="left">{{localize "ActorSheet.APPEARANCE"}}</th>
                    </tr>
                    <tr>
                        <td class="left">
                            {{editor
                            enrichedAPPEARANCE
                            target="system.CHARACTER.CHARACTER_INFO.APPEARANCE"
                            button=true
                            editable=editable
                            }}
                        </td>
                    </tr>
                </table>
            </div> {{!-- Other Tab --}}
        </section> {{!-- sheet-content --}}
    </section> {{!-- Sheet Body --}}
</form>