<div class="tab tab-body" data-group="primary" data-tab="other">
    <div class="form-group">
        <label>Initiative Characteristic</label>
        <select name="system.initiativeCharacteristic" data-dtype="text">
            <option value="dex">DEX</option>
            <option value="ego" {{#if (eq actor.system.initiativeCharacteristic 'ego' )}}selected{{/if}}>EGO
            </option>
        </select>
    </div>

    <div class="form-group" title="Used to determine when powers with Only In Heroic Identity (OIHID) work.">
        <label>Heroic Identity</label>
        <input type="checkbox" name="system.heroicIdentity" {{checked system.heroicIdentity}}/>
    </div>
    <br>


    {{> (getModulePath 'actor/actor-sheet-partial-other-perks.hbs') this }}

    <br />

    {{> (getModulePath 'actor/actor-sheet-partial-other-talents.hbs') this }}

    <br />

    {{> (getModulePath 'actor/actor-sheet-partial-other-complications.hbs') this }}

    <br />

    {{> (getModulePath 'actor/actor-sheet-partial-other-effects.hbs') this }}

    <br />
    {{> (getModulePath 'actor/actor-sheet-partial-other-top.hbs') this }}
    
    <br />

    <div class="form-group">
        <label for="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE"><b>EXPERIENCE</b></label>
        <input name="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE" value="{{actor.system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE}}" type="number">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES"><b>ALTERNATE IDENTITIES</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES" value="{{actor.system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME"><b>CAMPAIGN NAME</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME" value="{{actor.system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.GENRE"><b>GENRE</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.GENRE" value="{{actor.system.CHARACTER.CHARACTER_INFO.GENRE}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.PLAYER_NAME"><b>PLAYER NAME</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.PLAYER_NAME" value="{{actor.system.CHARACTER.CHARACTER_INFO.PLAYER_NAME}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.GM"><b>GM</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.GM" value="{{actor.system.CHARACTER.CHARACTER_INFO.GM}}" type="text">
    </div>

    <table>
        {{#if actor.system.CHARACTER.CHARACTER_INFO.BIOGRAPHY}}
            <tr>
                <th class="left">{{localize "ActorSheet.Biography"}}</th>
            </tr>
            <tr>
                <td class="left editor-html-pre-styled editor-biography-content">
                    {{editor
                    enrichedBIOGRAPHY
                    target="system.CHARACTER.CHARACTER_INFO.BIOGRAPHY"
                    button=true
                    editable=editable
                    }}
                </td>
            </tr>
        {{/if}}

        <tr>
            <th class="left">{{localize "ActorSheet.BACKGROUND"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-background-content">
                {{editor
                enrichedBACKGROUND
                target="system.CHARACTER.CHARACTER_INFO.BACKGROUND"
                button=true
                editable=editable
                }}
            </td>
        </tr>

        <tr>
            <th class="left">{{localize "ActorSheet.PERSONALITY"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-personality-content">
                {{editor
                enrichedPERSONALITY
                target="system.CHARACTER.CHARACTER_INFO.PERSONALITY"
                button=true
                editable=editable
                }}
            </td>
        </tr>

        <tr>
            <th class="left">{{localize "ActorSheet.QUOTE"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-quote-content">
                {{editor
                enrichedQUOTE
                target="system.CHARACTER.CHARACTER_INFO.QUOTE"
                button=true
                editable=editable
                }}
            </td>
        </tr>

        <tr>
            <th class="left">{{localize "ActorSheet.TACTICS"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-tactics-content">
                {{editor
                enrichedTACTICS
                target="system.CHARACTER.CHARACTER_INFO.TACTICS"
                button=true
                editable=editable
                }}
            </td>
        </tr>

        <tr>
            <th class="left">{{localize "ActorSheet.CAMPAIGN_USE"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-campaign-use-content">
                {{editor
                enrichedCAMPAIGN_USE
                target="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_USE"
                button=true
                editable=editable
                }}
            </td>
        </tr>

        <tr>
            <th class="left">{{localize "ActorSheet.APPEARANCE"}}</th>
        </tr>
        <tr>
            <td class="left editor-html-pre-styled editor-appearance-content">
                {{editor
                enrichedAPPEARANCE
                target="system.CHARACTER.CHARACTER_INFO.APPEARANCE"
                button=true
                editable=editable
                }}
            </td>
        </tr>
    </table>
</div>