<div class="tab tab-body" data-group="primary" data-tab="martialArts">
    <table>
        <tr class="sticky">
            <th colspan="2" class="right">Filter:</th>
            <th colspan="10">
                <input class="left" name="itemFilters.martial" type="text"
                    value="{{options.itemFilters.martial}}">
            </th>
        </tr>
        <tr class="sticky2">
            <th></th>
            <th>{{localize "ActorSheet.Cost"}}</th>
            <th class="left">{{localize "ActorSheet.Name"}}</th>
            <th class="left">{{localize "ActorSheet.Description"}}</th>
            <th>{{localize "ActorSheet.Phase"}}</th>
            <th>{{localize "ActorSheet.OCV"}}</th>
            <th>{{localize "ActorSheet.DCV"}}</th>
            <th>{{localize "ActorSheet.Roll"}}</th>
            {{!-- <th>
                <a class="item-control item-create" title="Create Martial Art" data-type="martialArt">
                    <i class="fas fa-plus"></i> Add MartialArt</a>
            </th> --}}
        </tr>

        {{#each items as |item id|}}
            {{!-- Show powers and things in a framework or compound power --}}
            {{#if (and (eq item.type "martialart") (not item.parentItem) (ne item.system.XMLID "__STRENGTHDAMAGE"))}}
                {{#if (filterItem item @root/options.itemFilters.martial)}}
                    {{> (getModulePath 'actor/actor-sheet-partial-martialarts-item.hbs') }}
                {{/if}}
            {{/if}}
        {{/each}}
    </table>

</div>