<div class="tab tab-body" data-group="primary" data-tab="martialArts">
    <table>
        <tr>
            <th class="sticky" colspan="2" class="right">Filter:</th>
            <th class="sticky" colspan="7">
                <input class="left" name="itemFilters.martial" type="text"
                    value="{{options.itemFilters.martial}}">
            </th>
        </tr>
        <tr>
            <th class="sticky2"></th>
            <th class="sticky2">{{localize "ActorSheet.Cost"}}</th>
            <th class="left sticky2">{{localize "ActorSheet.Name"}}</th>
            <th class="left sticky2">{{localize "ActorSheet.Description"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Phase"}}</th>
            <th class="sticky2">{{localize "ActorSheet.OCV"}}</th>
            <th class="sticky2">{{localize "ActorSheet.DCV"}}</th>
            <th class="sticky2">{{localize "ActorSheet.Roll"}}</th>
            <th class="sticky2"></th> 
        </tr>

        {{#each items as |item id|}}
            {{!-- Show powers and things in a framework or compound power --}}
            {{#if (and (eq item.type "martialart") (not item.parentItem) (ne item.system.XMLID "__STRENGTHDAMAGE"))}}
                {{#if (filterItem item @root/options.itemFilters.martial)}}
                    {{> (getModulePath 'actor/actor-sheet-partial-martialarts-item.hbs') }}
                {{/if}}
            {{/if}}
        {{/each}}
    </table>

</div>