<section
  class='tab aptitudes {{tab.cssClass}}'
  data-group='primary'
  data-tab='traits'
>
  <h1>Traits</h1>

  {{!-- {{#each this.aptitudes}} {{#if this.show}}
    <div class="trait-entry">
      <div class="trait-label">{{this.label}}</div>
      <div class="trait-trait">{{this.trait}}</div>
      <div class="trait-die">{{this.totalRanks}}d{{this.die}}</div>
    </div>
  {{/if}} {{/each}} --}}

</section>