<table class="adders-modifiers">

    {{!-- ADDERS --}}
    <tr class="active-effects adders" >
        <th class="adder-name">Adders</th>
        <th class="adder-cost">Cost</th>
        <th class="adder-controls">
            <a class="item-control modifier-create" title="Create"
                data-action="create"
                data-type="adder">
                <i class="fas fa-plus"></i></a>
        </th>
    </tr>
    {{#each item.adders}}
        <tr data-xmlid="{{this.XMLID}}" data-adder-id="{{this.ID}}" data-idx="@index">
            <td class="adder-name">{{this.ALIAS}}</td>
            <td class="adder-cost">{{#if this.SELECTED}}{{this.BASECOST_total}}{{/if}}</td>
            <td class="adder-controls">
                {{> (getModulePath 'item/item-sheet-v2/item-sheet-actions-partial-v2.hbs') this }}
            </td>
        </tr>

        {{#each this.adders}}
            <tr class="modifier-adder indent" data-xmlid="{{this.XMLID}}" data-adder-id="{{this.ID}}" data-idx="@index"></tr>
                <td class="adder-name">{{this.ALIAS}}</td>
                <td class="adder-cost">{{this.BASECOST_total}}</td>
                <td class="adder-controls"></td>
            </tr>
        {{/each}}
    {{/each}}

    {{!-- {{Modifiers}} --}}
    <tr class="active-effects adders">
        <th class="modifier-name">Modifiers</th>
        <th class="adder-cost">Cost</th>
        <th class="modifier-controls">
            <a class="item-control modifier-create" title="Create"
                data-action="create"
                data-type="modifier">
                <i class="fas fa-plus"></i>
            </a>
        </th>
        {{!-- <th>Add</th> --}}
    </tr>
    {{#each item.modifiers as |mod id|}}
        <tr class="{{#if mod.parentId}} from-parent{{/if}}" data-xmlid="{{mod.XMLID}}" data-modifier-id="{{mod.ID}}" data-idx="@index">
            <td class="modifier-name" title="{{mod.XMLID}}">{{mod.ALIAS}} {{mod.OPTION_ALIAS}} {{#if mod.PRIVATE}}p{{/if}}</td>
            <td class="adder-cost">{{mod.cost}}</td>
            <td class="adder-controls">
                {{> (getModulePath 'item/item-sheet-v2/item-sheet-actions-partial-v2.hbs') this }}
            </td>
        </tr>

        {{#each mod.adders as |adder id|}}
            <tr class="hero modifier-adder indent {{#if mod.parentId}}from-parent{{/if}}"data-xmlid="{{adder.XMLID}}" data-adder-id="{{adder.ID}}" data-idx="@index">
                <td class="adder-name" title="{{adder.XMLID}}">{{adder.ALIAS}} {{adder.OPTION_ALIAS}} {{#if adder.PRIVATE}}p{{/if}}</td>
                <td class="adder-cost">{{adder.cost}}</td>
                <td class="adder-controls"></td>
            </tr>
        {{/each}}

        {{#each mod.modifiers as |mod2 id|}}
            <tr class="hero modifier-adder indent {{#if mod.parentId}}from-parent{{/if}}"data-xmlid="{{mod2.XMLID}}" data-adder-id="{{mod2.ID}}" data-idx="@index">
                <td class="modifier-name" title="{{mod2.XMLID}}">{{mod2.ALIAS}} {{mod2.OPTION_ALIAS}} {{#if mod2.PRIVATE}}p{{/if}}</td>
                <td class="modifier-cost">{{mod2.cost}}</td>
                <td class="modifier-controls"></td>
            </tr>
        {{/each}}

    {{/each}}
    </table>