{{ log 'item-partial-common' this }}
<div class="description">
    {{item.system.description}}
    {{#if item.system.NOTES}}
        <div class="item-notes-editable-content"><b>Notes:</b> {{{item.system.NOTES}}}</div>
    {{/if}}
</div>

<div class="form-group">
    <label>NAME</label>
    <input type="text" name="system.NAME" value="{{item.system.NAME}}" data-dtype="text" />
</div>

<div class="form-group">
    <label>ALIAS</label>
    <input type="text" name="system.ALIAS" value="{{item.system.ALIAS}}" data-dtype="text" />
</div>

{{#unless source.baseInfo.editOptions.hideLEVELS}}
    <div class="form-group">
        <label>LEVELS</label>
        <input {{#if (isdefined source.system.PDLEVELS)}}disabled{{/if}} 
        type="text" name="system.LEVELS" value="{{item.system.LEVELS}}" data-dtype="Number" 
        />
    </div>

    <div class="form-group">
        {{#if (isdefined item.system.QUANTITY)}}
            <label>QUANTITY</label>
            {{numberInput item.system.QUANTITY name="system.QUANTITY"}}
        {{/if}}
    </div>
{{/unless}}

{{#if (isdefined item.system.INPUT)}}
    <div class="form-group {{#if (itemHeroValidationForProperty item "INPUT")}}validation{{/if}}" 
        title="{{itemHeroValidationForProperty item "INPUT"}}"
        >
        <label>
            INPUT
            {{#if (itemHeroValidationForProperty item "INPUT")}}
                <i class="fa-regular fa-circle-exclamation"></i>
            {{/if}}
        </label>
        {{#if editOptions.choicesInput}}
            <select name="system.INPUT" data-dtype="text">
                {{selectOptions editOptions.choicesInput selected=item.system.INPUT valueAttr="INPUT" labelAttr="INPUT"}}
            </select>
        {{else}}
            <input type="text" name="system.INPUT" value="{{item.system.INPUT}}" data-dtype="text" />
        {{/if}}
    </div>
{{/if}}

{{#if (isdefined item.system.OPTION)}}
    {{#if editOptions.choices}}
        <div class="form-group">
            <label>OPTION</label>
            <select name="system.OPTIONID" data-dtype="text">
                {{selectOptions editOptions.choices selected=item.system.OPTIONID valueAttr="OPTIONID" labelAttr="OPTION_ALIAS"}}
            </select>
        </div>

        <div class="form-group">
            <label>OPTIONID</label>
            <input disabled type="text" value="{{item.system.OPTIONID}}" data-dtype="text" />
        </div>

        <div class="form-group {{#if (itemHeroValidationForProperty item "OPTION_ALIAS")}}validation{{/if}}" 
            title="{{itemHeroValidationForProperty item "OPTION_ALIAS"}}"
            >
            <label>
                OPTION_ALIAS
                {{#if (itemHeroValidationForProperty item "OPTION_ALIAS")}}
                    <i class="fa-regular fa-circle-exclamation"></i>
                {{/if}}
            </label>
            <input {{#unless editOptions.editableOption_ALIAS}}disabled{{/unless}} name="system.OPTION_ALIAS" type="text" value="{{item.system.OPTION_ALIAS}}" data-dtype="text" />
        </div>

    {{else}}
        <div class="form-group">
            <label>OPTION</label>
            <input type="text" name="system.OPTION" value="{{item.system.OPTION}}" data-dtype="text" />
        </div>

        {{#if (isdefined item.system.OPTIONID)}}
        <div class="form-group">
            <label>OPTIONID</label>
            <input type="text" name="system.OPTIONID" value="{{item.system.OPTIONID}}" data-dtype="text" />
        </div>
        {{/if}}

        {{#if (isdefined item.system.OPTION_ALIAS)}}
        <div class="form-group">
            <label>
                OPTION_ALIAS
            </label>
            <input type="text" name="system.OPTION_ALIAS" value="{{item.system.OPTION_ALIAS}}" data-dtype="text" />
        </div>
        {{/if}}

    {{/if}}
{{/if}}

{{! editOptions.showAttacks === true}}
{{#if attacks.length }}
    <div class="form-group {{#if (itemHeroValidationForProperty this.item "AttacksIncluded")}}validation{{/if}}"
        title="{{itemHeroValidationForProperty this.item "AttacksIncluded"}}">
        <label>
            Attacks Included:
            {{#if (itemHeroValidationForProperty this.item "AttacksIncluded")}}
                <i class="fa-regular fa-circle-exclamation"></i>
            {{/if}}
        </label>
        <div class="form-fields csl-attack-list">
            <ul>
                {{#each attacks }}
                    <li><input type="checkbox" name="attacks.{{this.id}}" {{checked this.checked}} data-dtype="Boolean"/>
                    <span title="{{this.title}}">
                        {{this.name}}
                    </span>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}

{{#if penaltyChoices}}
    <div class="form-group">
        <label>PENALTY</label>
        <div class="form-fields">
            {{item.pslPenaltyType}}
        </div>
    </div>
{{/if}}

{{! COMBAT SKILL LEVELS}}
{{#if item.system.csl}}
 <div class="form-group">
    <label>SKILL LEVELS</label>
    <div class="form-fields">
        <ol>
            {{#each item.system.csl}}
            <li>
                {{!-- {{ radioBoxes this.name @root/cslChoices checked=this.value localize=true}} --}}
                {{!-- <input type="text" name="system.csl.{{@index}}" value="{{this}}"> --}}

                <select name="system.csl.{{@index}}">
                    {{selectOptions @root/item.cslChoices selected=this}}
                </select>
                
            </li>
            {{/each}}
        </ol>

    </div>
</div>
{{/if}}


{{#if (isdefined item.system.TYPE)}}
<div class="form-group">
    <label>TYPE</label>
    <input type="text" name="system.TYPE" value="{{system.TYPE}}" data-dtype="text" />
</div>
{{/if}}



{{!Martial Maneuver--}}
{{#if (isdefined item.system.USEWEAPON)}}
<div class="form-group">
    <label>USEWEAPON</label>
    <input type="checkbox" name="system.USEWEAPON" {{checked item.system.USEWEAPON}} data-dtype="Boolean"/>
</div>
{{/if}}

{{!-- FORCEFIELD --}}
{{#if (isdefined item.system.PDLEVELS)}}
<div class="form-group">
    <label>PDLEVELS</label>
    <input type="text" name="system.PDLEVELS" value="{{item.system.PDLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.EDLEVELS)}}
<div class="form-group">
    <label>EDLEVELS</label>
    <input type="text" name="system.EDLEVELS" value="{{item.system.EDLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.MDLEVELS)}}
<div class="form-group">
    <label>MDLEVELS</label>
    <input type="text" name="system.MDLEVELS" value="{{item.system.MDLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.POWDLEVELS)}}
<div class="form-group">
    <label>POWDLEVELS</label>
    <input type="text" name="system.POWDLEVELS" value="{{item.system.POWDLEVELS}}" data-dtype="Number" />
</div>
{{/if}}

{{!-- FORCEWALL/Barrier --}}
{{#if (isdefined item.system.LENGTHLEVELS)}}
<div class="form-group">
    <label>LENGTHLEVELS</label>
    <input type="text" name="system.LENGTHLEVELS" value="{{item.system.LENGTHLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.HEIGHTLEVELS)}}
<div class="form-group">
    <label>HEIGHTLEVELS</label>
    <input type="text" name="system.HEIGHTLEVELS" value="{{item.system.HEIGHTLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.WIDTHLEVELS)}}
<div class="form-group">
    <label>WIDTHLEVELS</label>
    <input type="text" name="system.WIDTHLEVELS" value="{{item.system.WIDTHLEVELS}}" data-dtype="Number" />
</div>
{{/if}}
{{#if (isdefined item.system.BODYLEVELS)}}
<div class="form-group">
    <label>BODYLEVELS</label>
    <input type="text" name="system.BODYLEVELS" value="{{item.system.BODYLEVELS}}" data-dtype="Number" />
</div>
{{/if}}

{{#if (isdefined item.system.USESTANDARDEFFECT)}}
<div class="form-group">
    <label>USESTANDARDEFFECT</label>
    <input type="checkbox" name="system.USESTANDARDEFFECT" {{checked item.system.USESTANDARDEFFECT}} data-dtype="Boolean"/>
</div>
{{/if}}

{{#if (isdefined item.system.AFFECTS_PRIMARY)}}
<div class="form-group">
    <label>AFFECTS_PRIMARY</label>
    <input type="checkbox" name="system.AFFECTS_PRIMARY" {{checked item.system.AFFECTS_PRIMARY}} data-dtype="Boolean"/>
</div>
{{/if}}

{{#if (isdefined item.system.AFFECTS_TOTAL)}}
<div class="form-group">
    <label>AFFECTS_TOTAL</label>
    <input type="checkbox" name="system.AFFECTS_TOTAL" {{checked item.system.AFFECTS_TOTAL}} data-dtype="Boolean"/>
</div>
{{/if}}

{{#if (isdefined item.system.USE_END_RESERVE)}}
<div class="form-group">
    <label>USE_END_RESERVE</label>
    <input type="checkbox" name="system.USE_END_RESERVE" {{checked item.system.USE_END_RESERVE}} data-dtype="Boolean"/>
</div>
{{/if}}


{{#if (and config (isdefined item.system.CHARACTERISTIC))}}
<div class="form-group">
    <label>CHARACTERISTIC</label>
    <select name="system.CHARACTERISTIC" data-dtype="text">
        {{#if item.actor.system.is5e}}
            {{selectOptions config.skillCharacteristics5e selected=item.system.CHARACTERISTIC}}
        {{else}}
            {{selectOptions config.skillCharacteristics selected=item.system.CHARACTERISTIC}}
        {{/if}}
    </select>
</div>
{{/if}}


{{#if (isdefined item.system.LEVELSONLY)}}
<div class="form-group">
    <label>LEVELSONLY</label>
    <input type="checkbox" name="system.LEVELSONLY" {{checked item.system.LEVELSONLY}} data-dtype="Boolean"  
    {{#if (or (or item.system.FAMILIARITY item.system.EVERYMAN) item.system.PROFICIENCY)}}disabled{{/if}}/>
</div>
{{/if}}

{{#if (isdefined item.system.FAMILIARITY)}}
<div class="form-group">
    <label>FAMILIARITY</label>
    <input type="checkbox" name="system.FAMILIARITY" {{checked item.system.FAMILIARITY}} data-dtype="Boolean" 
    {{#if (or item.system.LEVELSONLY item.system.PROFICIENCY)}}disabled{{/if}}/>
</div>
{{/if}}

{{!-- if FAMILIARITY is present then EVERYMAN can be an option --}}
{{#if (isdefined item.system.FAMILIARITY)}}
<div class="form-group">
    <label>EVERYMAN</label>
    <input type="checkbox" name="system.EVERYMAN" {{checked item.system.EVERYMAN}} data-dtype="Boolean"  
    {{#if (or item.system.LEVELSONLY item.system.PROFICIENCY)}}disabled{{/if}}/>
</div>
{{/if}}

{{#if (isdefined item.system.PROFICIENCY)}}
<div class="form-group">
    <label>PROFICIENCY</label>
    <input type="checkbox" name="system.PROFICIENCY" {{checked item.system.PROFICIENCY}} data-dtype="Boolean"  
    {{#if (or item.system.LEVELSONLY item.system.FAMILIARITY)}}disabled{{/if}}/>
</div>
{{/if}}

{{#if (isdefined item.system.NATIVE_TONGUE)}}
<div class="form-group">
    <label>NATIVE TONGUE</label>
    <input type="checkbox" name="system.NATIVE_TONGUE" {{checked item.system.NATIVE_TONGUE}} data-dtype="Boolean" />
</div>
{{/if}}


{{#if (isdefined item.system.SFX)}}
<div class="form-group">
    <label>SFX</label>
    <input type="text" name="system.SFX" value="{{item.system.SFX}}" data-dtype="text" />
</div>
{{/if}}

{{#if item.system.chargeModifier}}
    <div class="form-group">
        <label>Charges</label>
        <div class="flexrow">
            <input type="text" name="system.numCharges" value="{{system.numCharges}}" data-dtype="Number" />
            <span>/</span>
            <input disabled title="maximum, edit with modifier" type="text" name="system.chargesMax" value="{{system.chargesMax}}" data-dtype="Number" />
        </div>
    </div>

    {{#if item.system.chargeModifier.CLIPS}}
        <div class="form-group">
            <label>Clips</label>
            <div class="flexrow">
                <input type="text" name="system.clips" value="{{system.clips}}" data-dtype="Number" />
                <span>/</span>
                <input disabled  title="maximum, edit with modifier" type="text" name="system.clipsMax" value="{{system.clipsMax}}" data-dtype="Number" />
            </div>
    </div>
    {{/if}}
{{/if}}

{{#with item}}
    {{#if this.isAblativeDefense}}
        <div class="form-group">
            <label>Ablative Threshold Exceeded</label>
            <input type="text" name="system.ablative" value="{{system.ablative}}" data-dtype="Number" />
        </div>
    {{/if}}
{{/with}}
