{{ log 'HEROSYS apply-aid-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>vs {{targetActor.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{item.actor.name}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{{itemName item}}}</span>
  </div>

  <div class="card-section">
    <div class="description-tiny">Defense: {{ defense }}</div>
  </div>

  {{item.system.XMLID}} {{abs adjustmentDamageRaw}} Active Points.

  {{abs adjustmentDamageThisApplication}} {{adjustmentTarget}}

  {{#if (lte adjustmentDamageThisApplication 0)}}
    gained. 
  {{else}}
    lost.
  {{/if}}
  Total cumulative {{item.system.XMLID}} for this effect is {{abs adjustmentTotalActivePointEffect}} AP.
</div>