{{ log 'HEROSYS apply-adjustment-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>vs {{targetActor.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{item.actor.name}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{{itemName item}}}</span>
  </div>

  {{#if defenseDescription}}
    <div class="card-section">
      <div class="description-tiny">Defense: {{ defenseDescription }}</div>
    </div>

    {{#if effectsDescription}}
      <div class="card-section">
        <div class="description-tiny">Effect</div>
        <div class="description-medium">{{ activePoints }} Active Points</div>
        <div class="description-tiny">{{{ effectsDescription }}}</div>
      </div>
    {{/if}}
  {{/if}}

  {{#each adjustments as | adj |}}
    <div class="card-section">
      {{#if targetToken}}{{targetToken.name}}: {{/if}}{{../item.system.XMLID}} {{#if adj.isFade}}fade of{{/if}} {{abs adj.adjustmentDamageRaw}} Active Points.

      {{#if (lt adj.adjustmentDamageThisApplication 0)}}
        {{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} gained. 
      {{else}}
        {{#if (eq adj.adjustmentDamageThisApplication 0)}}
          No effect on {{adj.adjustmentTarget}}.
        {{else}}
            {{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} lost.
        {{/if}}
      {{/if}}

      {{#if (ne adj.activePointEffectLostDueToMax 0)}} {{abs adj.activePointEffectLostDueToMax}} Active Points of adjustment action lost due to reaching maximum effect.{{/if}}
      {{#if (ne adj.activePointEffectLostDueToNotExceeding 0)}} {{abs adj.activePointEffectLostDueToNotExceeding}} Active Points of adjustment action lost due to not exceeding the existing effect.{{/if}}
      Total {{../item.system.XMLID}} for this effect is {{abs adj.adjustmentTotalActivePointEffect}} AP.
    </div>
  {{/each}}

  {{#if isEffectFinished}}
    <div>
      The effects of this {{item.system.XMLID}} have completely faded!
    </div>
  {{/if}}
</div>