{{ log 'HEROSYS apply-aid-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>vs {{targetToken.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{item.actor.name}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{item.name}}</span>
  </div>

  <div class="card-section">
    <div class="description-tiny">Defense: {{ defense }}</div>
  </div>

  {{item.system.XMLID}} {{stunDamage}} Active Points

  {{#if (eq item.system.XMLID "TRANSFER")}}
  from {{xmlidX}} to {{xmlidY}}.
  {{targetToken.actor.name}} lost {{abs levelsX}} {{xmlidX}}.  {{item.actor.name}} gained {{levelsY}} {{xmlidY}}.
  {{else}}

  to {{xmlidX}}. {{targetToken.actor.name}}

  {{#if (gte levelsX 0)}}
  gained 
  {{else}}
  lost
  {{/if}} {{abs levelsX}} {{xmlidX}}.

  {{/if}}

</div>