{{ log 'HEROSYS apply-damage-card' this }}
<div class="hero chat-card apply-damage-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

  <header class="card-header flexrow">
    {{!-- <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" /> --}}
    <h3>{{item.name}} vs {{targetToken.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{#if isKnockBack}}Knockback{{else}}{{item.actor.name}}{{/if}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{{itemName item}}}</span>
  </div>

  {{#if isKnockBack}} {{!-- Show dice details for KnockBack ApplyDamage --}}
    <div>
    {{{renderedDamageRoll}}}
    </div>
  {{else}} {{!-- Typical apply damage --}}
    <div class="apply-damage-amount">
      <span title="{{incomingAnnotatedDamageTerms}}">{{incomingDamageSummary}}</span>
      {{#if useHitLoc}}
        <div class="description-tiny">{{ hitLocText }}</div>
      {{/if}}
    </div>
  {{/if}}

  <div class="tags">
    {{#each attackTags as |tag id|}}
        <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
    {{/each}}
  </div>

  <hr>

  <div class="tags">
    {{#each tags as |tag id|}}
    <span class="tag tag_transparent" title="{{tag.title}}">{{tag.name}} {{#if (gte tag.value 0)}}+{{/if}}{{tag.value}}</span>
    {{/each}}
  </div>

  {{#if damageNegationValue}}
    <div class="card-section">
      <div class="damage-roll">{{{ renderedDamageRoll }}}</div>
      {{#if hasStunMultiplierRoll}}
        <div class="description-tiny">Stun Multiplier</div>
        <div class="description-tiny">{{ stunMultiplier }}X STUN MULTIPLIER</div>
      {{/if}}
      <div class="description-tiny">{{ bodyDamage }} BODY; {{ stunDamage }} STUN (after DN)</div>
    </div>
  {{/if}}

  <div class="card-section">
    <div class="description-tiny">Defense: {{ defense }}</div>
  </div>

  <div class="card-section">
    <div class="description-tiny">Effect</div>
    <div class="description-medium">{{ bodyDamageEffective }} BODY; {{ stunDamageEffective }} STUN</div>
    <div class="description-tiny">{{{ effects }}}</div>
  </div>

  {{#if useKnockBack}}
    <div class="card-section">
      <div class="description-tiny">Knockback Roll</div>
      {{#if knockbackTags}}
        <div class="card-section">
          <div class="tags">
            {{#each knockbackTags as | tag id|}}
            <span class="tag tag_knockback" title="{{tag.title}}">{{tag.name}} {{tag.value}}</span>
            {{/each}}
          </div>
        </div>
      {{/if}}
      <div class="hit-roll">{{{ knockbackRenderedResult }}}</div>


      {{#if (gt knockbackResultTotal 0)}}
        <div data-visibility="{{actor.id}}">
          <button class="roll-knockback" data-item-Id="{{item.uuid}}" data-target-Token-Id="{{targetToken.id}}"
            data-knockback-Result-Total="{{knockbackResultTotal}}">
            {{ knockbackMessage }}
          </button>
        </div>
      {{else}}
        <div class="description-tiny">{{ knockbackMessage }}</div>
      {{/if}}

    </div>
  {{/if}}
</div>