{{ log 'HEROSYS apply-adjustment-card' this }}
<div class="hero chat-card item-card to-hit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3>vs {{targetActor.name}}</h3>
    </header>

    <div>
        Attacker: <span class="item-name">{{attackerToken.name}}</span>
    </div>
    <div>
        Attack: <span class="item-name">{{{itemName item}}}</span>
    </div>

    <div class="tags">
        {{#each adjustmentItemTags as |tag id|}}
            <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
        {{/each}}
    </div>

    <hr>

    {{#if defenseDescription}}
        {{!defense tags --}}
        {{> (getModulePath 'chat/defense-tags-partial.hbs') defenseTags }}
        <div class="card-section">
            <div class="description-tiny">Defense: {{ defenseDescription }}</div>
        </div>
        {{#unless isFade}}
        <div class="card-section">
            <div class="description-tiny">Effect</div>
            <div class="description-medium description-activePoints">{{ activePoints }} Character Points</div>
            <div class="description-tiny description-effect">{{{ effectsDescription }}}</div>
        </div>
        {{/unless}}
    {{/if}}

    {{#each adjustments as | adj |}}
        <div class="card-section adjustment-summary" title="click to show/hide details">
            {{#if adj.isEffectFinished}}
                The {{adj.attackItem.system.XMLID}} effects of {{adj.adjustmentTarget}} have ended.
            {{else}}
                {{#if (lt adj.adjustmentDamageThisApplication 0)}}
                    {{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} lost. 
                {{else}}
                    {{#if (eq adj.adjustmentDamageThisApplication 0)}}
                        No effect on {{adj.adjustmentTarget}}.
                    {{else}}
                        {{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} gained.
                    {{/if}}
                {{/if}}
                {{!-- <i class="fal fa-circle-info"></i> --}}
            {{/if}}
            
            {{#unless adj.isEffectFinished}}
                <i class="fa-regular fa-circle-caret-right adjustment-tooltip"  ></i>
                <div class="adjustment-tooltip" style="display:none;">
                    {{adj.attackItem.name}}: {{adj.attackItem.system.XMLID}} {{#if adj.isFade}}fade of{{/if}} {{abs adj.adjustmentDamageThisApplication}} Character Points of {{adj.adjustmentTarget}}{{#if (and (not adj.isFade) (ne (abs adj.thisAttackActivePointsEffect) adj.adjustmentDamageRaw))}} (defenses are halved {{adj.adjustmentDamageRaw}}/2={{abs adj.thisAttackActivePointsEffect}}){{/if}}. {{#if adj.costPerActivePoint}}Each point of {{#if adj.simplifiedHealing}}SIMPLIFIED HEALING of {{/if}}{{adj.adjustmentTarget}} costs {{adj.costPerActivePoint}} CP. {{/if}}{{#if (lt adj.adjustmentDamageThisApplication 0)}}{{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} lost. {{else}}{{#if (eq adj.adjustmentDamageThisApplication 0)}}No effect on {{adj.adjustmentTarget}}. {{else}}{{abs adj.adjustmentDamageThisApplication}} {{adj.adjustmentTarget}} gained. {{/if}}{{/if}}{{#if (and adj.maximumEffectActivePoints (lt adj.maximumEffectActivePoints 999))}}Maximum Effect is {{abs adj.maximumEffectActivePoints}} CP. {{/if}}{{#if (ne adj.thisAttackActivePointAdjustmentNotAppliedDueToMax 0)}} {{abs adj.thisAttackActivePointAdjustmentNotAppliedDueToMax}} Character Points of adjustment action not applied because it exceeded the maximum effect (See MAXIMUM EFFECT rules). {{/if}}{{#if (ne adj.thisAttackActivePointEffectNotAppliedDueToNotExceedingHealing 0)}} {{abs adj.thisAttackActivePointEffectNotAppliedDueToNotExceedingHealing}} Character Points of adjustment action not applied because it did not exceed the existing effect (See MAXIMUM EFFECT rules).{{/if}}{{#if adj.adjustmentTotalActivePointEffect}} Total temporary adjustments for {{adj.adjustmentTarget}} is {{adj.adjustmentTotalActivePointEffect}} CP. {{/if}}
                </div>
            {{/unless}}
        </div>
    {{/each}}
</div>