{{ log 'HEROSYS apply-sense-affecting-card' this }}
<div class="hero chat-card item-card apply-sense-affecting-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
  tokenId}}data-token-id="{{tokenId}}" {{/if}}>

  <header class="card-header flexrow">
    <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
    <h3>vs {{targetToken.name}}</h3>
  </header>

  <div>
    Attacker: <span class="item-name">{{item.actor.name}}</span>
  </div>
  <div>
    Attack: <span class="item-name">{{{itemName item}}}</span>
  </div>

  <div class="apply-damage-amount">
    <span title="{{incomingAnnotatedDamageTerms}}">{{incomingDamageSummary}}</span>
  </div>

  <div class="tags">
      {{#each attackTags as |tag id|}}
      <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
      {{/each}}
  </div>
  <hr>
  <div class="tags">
      {{#each tags as |tag id|}}
      <span class="tag tag-transparent" title="{{tag.title}}">{{tag.name}} {{tag.value}}</span>
      {{/each}}
  </div>

    <div class="card-section">
        <div class="description-tiny">Defense: {{#unless tags.length}}None{{/unless}}</div>
        {{#each senseGroups}}
            {{#each this.defenseItems}}
                <div class="description-tiny" title="{{this.system.description}}">
                    {{this.name}} {{this.system.LEVELS}} pt vs {{../XMLID}}
                </div>
            {{/each}}
        {{/each}}
    </div>

    {{{itemName item}}}: {{targetToken.actor.name}} for {{ damageData.bodyDamage }} segments.
    {{#each senseGroups}}
        {{this.XMLID}} for {{ this.bodyDamage }} segments.
    {{/each}}

</div>