{{ log 'item-all-in-one-tohit-apply-card' this }}

<div 
    class="hero chat-card item-all-in-one-tohit-apply-card"
    data-item-id="{{originalUuid}}"
    data-item-uuid="{{originalUuid}}" 
    data-attacker-actor-id="{{attackerActorId}}"
    data-attacker-actor-uuid="{{attackerActorUuid}}"
    data-attacker-token-id="{{attackerTokenId}}"
    data-attacker-token-uuid="{{attackerTokenUuid}}">

    <header class="card-header attack">
        <!-- Attack item -->
        <div class="attack-item flexrow">
            <img src="{{itemImg}}" title="{{itemName}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName}}}</h3>
        </div>

        <!-- Attack item tags -->
        <div class="tags">
            {{#each attackTags as |tag id|}}
                <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
            {{/each}}
        </div>


        <!-- Resource use -->
        {{#if resourcesUsedDescription}}
            <div class="card-section">
                {{!-- PH: FIXME: strikethrough shouldn't be calculated in CSS --}}
                <div class="description-tiny {{#unless inActiveCombat}}strikethrough{{/unless}}" {{#unless inActiveCombat}}title="END and other resources are only consumed when in combat"{{/unless}}>Spent {{{ resourcesUsedDescription }}}</div>
            </div>
        {{/if}}
    </header>

    <!-- Show each target -->
    {{#each targetData as |target|}}
        <div class="targets">
            {{#unless target.aoeAlwaysHit}}
                {{#if (not ../maxMinds)}}
                    {{!-- <div class="card-section">
                        {{#if target.id}}
                            <div class="description-tiny">Attack Roll<br>vs.<br>{{target.name}}</div>
                        {{else}}
                            <div class="description-tiny">This attack had no target so some details (like range penalties) are not considered. Target DCV is presumed to be an inanimate object. GM should review this roll carefully.</div>
                        {{/if}}
                        <div class="hit-roll">{{{ target.renderedRoll }}}</div>

                        <div class="tags description-tiny">
                            {{#each target.defensiveTags as |tag|}}
                                <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
                            {{/each}}
                        </div>

                        <div class="description-medium">
                            {{{ target.hitRollText }}}
                            <span data-visibility="gm">
                                ({{target.toHitChar}} {{target.value}})
                            </span>
                        </div>
                    </div> --}}
                    {{log target.result}}
                    

                    <details class="hero6e-to-hit-details" 
                        data-target-token-uuid="{{target.uuid}}" 
                        data-target-token-id="{{target.id}}"
                    > 
    
                        <!-- Summary Header bar with structural classes -->
                        <summary class="hero6e-to-hit-summary" data-action="toggleHitDetails" > 
                            
                            <!-- Main Data Row Wrapper --> 
                            <div class="summary-data-row"> 
                                
                                <!-- Left Side: Target Image Container and Truncated Name --> 
                                <div class="target-info"> 
                                    {{#if target.img}}
                                        <div class="target-thumbnail-wrapper">
                                            <img src="{{target.img}}" title="{{target.name}}" class="target-thumbnail" /> 
                                        </div>
                                    {{/if}}
                                    <span class="target-name">{{target.name}}</span> 
                                </div> 

                                <!-- Right Side: Hit or Miss Status Badge Layout --> 
                                <div class="result-info"> 
                                    {{#if (eq (toLowerCase target.result.hit) "hit")}} 
                                        <span class="status-result announce-success">{{target.hitRollText}}</span> 
                                    {{else}} 
                                        <span class="status-result announce-failure">{{target.hitRollText}}</span> 
                                    {{/if}} 
                                </div> 
                            </div> 

                            <!-- Dropdown chevron indicator -->
                            <i class="fas fa-chevron-down summary-icon"></i> 
                        </summary> 

                        <!-- The expanded container panel holding your tags and actions --> 
                        <div class="collapsible-content"> 
                            <!-- ... (Rest of your collapsible inner tags, rolls, and GM actions remain completely unchanged) ... -->
                            <div class="tags"> 
                                {{#each tags as |tag id|}} 
                                    <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}"{{/if}}{{#if ../maxMinds}} data-visibility="gm"{{/if}}> 
                                        {{tag.name}} {{tag.value}} 
                                    </span> 
                                {{/each}} 
                            </div> 
                            <div class="hit-roll">{{{ target.renderedRoll }}}</div> 
                            <div class="tags description-tiny"> 
                                {{#each target.defensiveTags as |tag|}} 
                                    <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}"{{/if}}>{{tag.name}}</span> 
                                {{/each}} 
                            </div> 
                            <div class="description-medium"> 
                                {{{ target.hitRollText }}} 
                                <span data-visibility="gm"> ({{target.toHitChar}} {{target.value}}) </span> 
                            </div>

                            {{#if @root.hapsEnabled}}
                                {{#if (eq (toLowerCase target.result.hit) "miss")}} 
                                    <div class="flexrow action-row"> 
                                        <button data-action="spendHaps" data-by="{{target.result.by}}">Spend {{target.result.by}} HAP</button> 
                                    </div> 
                                {{/if}} 
                            {{/if}}

                            <!-- not implemented yet
                            <div class="data-visibility-gm flexrow action-row override-row" 
                                data-visibility="gm"
                                data-tooltip="GM Override feature not currently supported"
                            > 
                                <label class="override-label"> GM Override </label> 
                                <select data-action="gmOverride" class="override-select" 
                                
                                disable> 
                                    <option value="use_roll">use roll</option> 
                                    <option value="force_hit">force hit</option> 
                                    <option value="force_miss">force miss</option> 
                                </select> 
                            </div>
                            -->
                        </div> 
                    </details>




                    <!-- collapsible to-hit details-->
                    {{!-- <div>

                        <!-- To Hit tags (per target; range penalty is likely the only difference-->
                        <div class="tags">
                            {{#each tags as |tag id|}}
                                <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}"{{/if}}{{#if ../maxMinds}} data-visibility="gm"{{/if}}>{{tag.name}}
                                    {{tag.value}}
                                </span>
                            {{/each}}
                        </div>

                        <div class="hit-roll">{{{ target.renderedRoll }}}</div>

                        <div class="tags description-tiny">
                            {{#each target.defensiveTags as |tag|}}
                                <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
                            {{/each}}
                        </div>

                        <div class="description-medium">
                            {{{ target.hitRollText }}}
                            <span data-visibility="gm">
                                ({{target.toHitChar}} {{target.value}})
                            </span>
                        </div>
                    </div> --}}
                {{else}}
                    Mind Scan?
                    {{!-- Mind Scan - we only want the 1st mind to show the roll info. Only show to GM. --}}
                    {{!-- {{#if (eq @index 0)}}
                        <div class="card-section" data-visibility="gm">
                            <div class="description-tiny">{{../maxMinds}} mind(s)</div>
                            <div class="hit-roll">{{{ target.renderedRoll }}}</div>
                            <div class="description-medium">
                                {{{ target.hitRollText }}}
                                <span data-visibility="gm">
                                    ({{target.toHitChar}} {{target.value}})
                                </span>
                            </div>
                        </div>
                    {{/if}} --}}
                {{/if}}
            {{/unless}}
        </div>
    {{/each}}

    <!-- Roll damage button-->
    {{#if maxMinds}}
        maxMinds?
        {{!-- <div>
            <i>The Game Master is reviewing the target to confirm it is within the Mind Scan area and that your attack score exceeded the target's DMCV.</i>
        </div>

        <button data-visibility="gm" class="roll-mindscan" data-actor-uuid="{{actor.uuid}}" data-item-json-str="{{itemJsonStr}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
            data-effectiveStr="{{effectiveStr}}" data-effective-levels="{{effectiveLevels}}" data-target-ids="{{targetIds}}" data-velocity="{{velocity}}" 
            data-boostable-Charges="{{boostableChargesToUse}}" data-to-hit-roll-total="{{toHitRollTotal}}" data-target="" title="Will result in a MISS">
            No Target or Miss
        </button>

        <button data-visibility="gm" class="roll-mindscan" data-actor-uuid="{{actor.uuid}}" data-item-json-str="{{itemJsonStr}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
            data-effectiveStr="{{effectiveStr}}" data-effective-levels="{{effectiveLevels}}" data-target-ids="{{targetIds}}" data-velocity="{{velocity}}" 
            data-boostable-Charges="{{boostableChargesToUse}}" data-to-hit-roll-total="{{toHitRollTotal}}" data-target="Selected" title="Select a token on the scene">
            Selected Token
        </button>

        {{#each targetData as |target|}}
            {{#if (eq target.result.hit "Hit")}}
                <button data-visibility="gm" class="roll-mindscan" data-actor-uuid="{{../actor.uuid}}" data-item-json-str="{{../itemJsonStr}}" data-aim="{{../aim}}" data-aim-side="{{../aimSide}}"
                    data-effectiveStr="{{../effectiveStr}}" data-effective-levels="{{../effectiveLevels}}" data-target-ids="{{../targetIds}}" data-velocity="{{../velocity}}" 
                    data-boostable-charges="{{../boostableChargesToUse}}" data-target-entangle="{{targetEntangle}}" data-to-hit-roll-total="{{../toHitRollTotal}}" data-target="{{this.id}}">
                    <b>{{this.name}}</b>
                </button>
            {{/if}}
        {{/each}} --}}
    {{else}}
        <div data-visibility="{{actor.id}}">
            {{!-- <button class="roll-damage" data-actor-uuid="{{actor.uuid}}" data-item-json-str="{{itemJsonStr}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
                data-action-data="{{actionData}}"
                data-effectiveStr="{{effectiveStr}}" data-effective-levels="{{effectiveLevels}}" data-target-ids="{{targetIds}}" data-velocity="{{velocity}}" 
                data-boostable-charges="{{boostableChargesToUse}}" data-target-entangle="{{targetEntangle}}">
                {{_itemPostHitActionString}}
            </button> --}}
            <button class="roll-damage">{{_itemPostHitActionString}}</button>
        </div>
    {{/if}}

</div>