{{ log 'HEROSYS item-toHit-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <span class="flavor-text">
        {{!-- Attack Name --}}
        <header class="card-header attack flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName item}}}</h3>
        </header>

        {{!-- Show Target, if any --}}
        <div class="target-dc-result">
            {{#each targetData as |target|}}
            <div class="target-dc">

                <span>Target: {{target.name}}</span>
                <span data-visibility="gm">
                    ({{target.toHitChar}} {{target.value}})
                </span>
                <br />
                <span>
                    Result: <span class="{{target.result.hit}}">{{target.result.hit}}</span>
                    {{#if target.aoeAlwaysHit}}
                        due to AOE
                    {{else}}
                        <span data-visibility="gm" class="resultBy">by {{target.result.by}}</span>
                    {{/if}}
                </span>
            </div>
            {{/each}}
            {{#unless targetData}}
                <div class="target-dc">
                    <i>
                        Hint: Select a target [t] or multiple targets [shift-t] to automate determination of Hit/Miss.
                    </i>
                </div>
            {{/unless}}
        </div>

        <div class="tags">
            {{#each attackTags as |tag id|}}
                <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
            {{/each}}
        </div>
        <hr>
        <div class="tags">
            {{#each tags as |tag id|}}
                <span class="tag tag_transparent" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}
                    {{tag.value}}
                </span>
            {{/each}}
        </div>
        <hr>
    </span>

    <div class="hit-roll">
        {{#if useEnd}}
        <div class="card-section">
            <div class="description-tiny">{{{ enduranceText }}}</div>
        </div>
        {{/if}}

        {{#each targetData as |target|}}
            {{#unless target.aoeAlwaysHit}}
                <div class="card-section">
                    <div class="description-tiny">Attack Roll<br>vs.<br>{{target.name}}</div>
                    <div class="hit-roll">{{{ target.renderedRoll }}}</div>
                    <div class="description-medium">
                        {{{ target.hitRollText }}}
                        <span data-visibility="gm">
                            ({{target.toHitChar}} {{target.value}})
                        </span>
                    </div>
                </div>
            {{/unless}}
        {{/each}}

        <div data-visibility="{{actor.id}}">
            <button class="roll-damage" data-itemId="{{item.uuid}}" data-aim="{{aim}}"
                data-knockbackMod="{{knockbackMod}}" data-damageMod="{{damageMod}}" data-hitRollData="{{hitRollData}}"
                data-effectiveStr="{{effectiveStr}}" data-targetIds="{{targetIds}}" data-velocity="{{velocity}}" 
                data-boostable-Charges="{{boostableCharges}}">
                {{#if (or adjustment senseAffecting)}}
                    Roll {{item.system.XMLID}}
                {{else}}
                    Roll Damage
                {{/if}}
            </button>
        </div>
    </div>
</div>