{{ log 'HEROSYS item-toHit-dodge-card' this }}
<div class="hero chat-card item-card to-hit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <span class="flavor-text">

        {{!-- Attack Name --}}
        <header class="card-header attack flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName item}}}</h3>
        </header>


        <div class="tags">
            <span class="tag">{{item.attackDefenseVs}}</span>
            {{#if item.doesKillingDamage}}
            <span class="tag">killing</span>
            {{/if}}
            {{#if (ne item.system.stunBodyDamage 'Stun and Body')}}
            <span class="tag">{{item.system.stunBodyDamage}}S</span>
            {{/if}}
            {{#if item.system.piercing}}
            <span class="tag" title="Armor Piercing">APx{{item.system.piercing}}</span>
            {{/if}}
            {{#if item.system.penetrating}}
            <span class="tag" title="Penetrating">PENx{{item.system.penetrating}}</span>
            {{/if}}
            {{#if (ne item.system.areaOfEffect.type 'none')}}
            <span class="tag area-effect-tag" data-aoe-type="{{item.system.areaOfEffect.type}}"
                data-aoe-value="{{item.system.areaOfEffect.value}}">
                {{item.system.areaOfEffect.type}} ({{item.system.areaOfEffect.value}})
            </span>
            {{/if}}
        </div>
        <hr>
        <div class="tags">
            {{#each tags as |tag id|}}
            <span class="tag tag-transparent">{{tag.name}}
                {{#if (gte tag.value 0)}}+{{/if}}{{tag.value}}
            </span>
            {{/each}}
        </div>


        <hr>
    </span>

    <div class="hit-roll">
        {{#if resourcesUsedDescription}}
            <div class="card-section">
                <div class="description-tiny">{{{ resourcesUsedDescription }}}</div>
            </div>
        {{/if}}

        <div class="card-section">
            <div class="description-tiny">Attack Roll</div>
            <div class="hit-roll">{{{ renderedHitRoll }}}</div>
            <div class="description-medium">{{{ hitRollText }}}</div>
        </div>


    </div>

</div>