{{ log 'HEROSYS item-damage-card' this }}
<div class="hero chat-card item-card damage-card2" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <div>
        {{#if adjustment}}
        {{item.system.XMLID}}
        {{else}}
        Damage
        {{/if}}
        Roll: <span class="item-name">{{item.name}}</span>
    </div>

    <div class="tags">
        {{#each attackTags as |tag id|}}
        <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
        {{/each}}
        {{!-- <span class="tag">{{item.system.class}}</span>
        {{#if item.system.killing}}
        <span class="tag">killing</span>
        {{/if}}
        {{#if (ne item.system.stunBodyDamage 'stunbody')}}
        <span class="tag">{{item.system.stunBodyDamage}}</span>
        {{/if}}
        {{#if item.system.piercing}}
        <span class="tag" title="Armor Piercing">APx{{item.system.piercing}}</span>
        {{/if}}
        {{#if item.system.penetrating}}
        <span class="tag" title="Penetrating">PENx{{item.system.penetrating}}</span>
        {{/if}}
        {{#if (ne item.system.areaOfEffect.type 'none')}}
        <span class="tag area-effect-tag" data-aoe-type="{{item.system.areaOfEffect.type}}"
            data-aoe-value="{{item.system.areaOfEffect.value}}">
            {{item.system.areaOfEffect.type}} ({{item.system.areaOfEffect.value}})
        </span>
        {{/if}} --}}
    </div>
    <hr>
    <div class="tags">
        {{#each tags as |tag id|}}
        <span class="tag tag_transparent" title="{{tag.title}}">{{tag.name}} +{{tag.value}}</span>
        {{/each}}
    </div>

    <div class="hit-roll">

        <div class="card-section">
            {{#if useHitLoc}}
            <div class="description-tiny">{{ hitLocText }}</div>
            {{/if}}
            <div class="damage-roll">{{{ renderedDamageRoll }}}</div>
            {{#if hasStunMultiplierRoll}}
            <div class="description-tiny">Stun Multiplier</div>
            <div class="stun-x-roll">{{{ renderedStunMultiplierRoll }}}</div>
            <div class="description-tiny">{{ stunMultiplier }}X STUN MULTIPLIER</div>
            {{/if}}
            <div class="description-tiny">
                (Raw Roll) {{ bodyDamage }} BODY; {{ stunDamage }} STUN
            </div>
        </div>

        <div data-visibility="gm">
            <button class="apply-damage" title="Apply damage to selected tokens." data-itemId="{{item.uuid}}"
                data-bodyDamage="{{bodyDamage}}" data-stunDamage="{{stunDamage}}" data-terms="{{terms}}"
                data-stunMultiplier="{{stunMultiplier}}" data-hit-Location="{{hitLocation}}">
                {{#if adjustment}}
                Apply {{item.system.XMLID}}
                {{else}}
                Apply Damage
                {{/if}}
            </button>


            {{#each targetTokens as |target id|}}
            <button class="apply-damage" title="Apply damage to {{target.name}}." data-itemId="{{../item.uuid}}"
                data-target-token-id="{{target.id}}" data-bodyDamage="{{../bodyDamage}}"
                data-stunDamage="{{../stunDamage}}" data-terms="{{../terms}}"
                data-stunMultiplier="{{../stunMultiplier}}" data-hit-Location="{{../hitLocation}}">
                {{#if ../adjustment}}
                Apply {{../item.system.XMLID}} to <b>{{target.name}}</b>
                {{else}}
                Apply Damage to <b>{{target.name}}{{item.system.XMLID}}</b>
                {{/if}}
            </button>
            {{/each}}

            {{#if targetIds}}
            <button class="apply-damage" title="Apply damage to ALL tokens that were hit." data-itemId="{{item.uuid}}"
                data-target-Ids="{{targetIds}}" data-bodyDamage="{{bodyDamage}}" data-stunDamage="{{stunDamage}}"
                data-terms="{{terms}}" data-stunMultiplier="{{stunMultiplier}}" data-hit-Location="{{hitLocation}}">
                {{#if adjustment}}
                Apply {{item.system.XMLID}} to <b>ALL</b>
                {{else}}
                Apply Damage to <b>ALL</b>
                {{/if}}
            </button>
            {{/if}}
        </div>

    </div>
</div>