{{log "HEROSYS item-toHit-block-card" this}}
<div class="hero chat-card item-card to-hit-card">

    <span class="flavor-text">
        {{! Attack Name }}
        <header class="card-header attack flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName item}}}</h3>
        </header>

        {{! Show Target, if any }}
        <div class="target-dc-result">
            {{#each targetData as |target|}}
                <div class="target-dc">

                    <span>Target: {{target.name}}</span>

                    {{! TODO: Make dcv/dmcv visibility based on ownership }}
                    <span>
                        ({{target.toHitChar}}
                        {{target.value}})
                    </span>
                </div>
            {{/each}}
            {{#unless targetData}}
                <div class="target-dc">
                    <i>{{localize "Items.Attack.TargetingExplanation"}}</i>
                </div>
            {{/unless}}
        </div>

        <div class="tags">
            <span class="tag">{{item.attackDefenseVs}}</span>
        </div>
        <hr />
        <div class="tags">
            {{#each tags as |tag id|}}
                <span class="tag tag-transparent">{{tag.name}}
                    {{#if (gte tag.value 0)}}+{{/if}}{{tag.value}}
                </span>
            {{/each}}
        </div>
        <hr />
    </span>

    <div class="hit-roll">
        {{#if resourcesUsedDescription}}
            <div class="card-section">
                <div class="description-tiny">Spent {{{resourcesUsedDescription}}}</div>
            </div>
        {{/if}}

        {{#each targetData as |target|}}
            <div class="card-section">
                <div class="description-tiny">Attack Roll<br />vs.<br />{{target.name}}</div>
                <div class="hit-roll">{{{target.renderedRoll}}}</div>
                <div class="description-medium">
                    {{{target.hitRollText}}}
                    <span data-visibility="gm">
                        ({{target.toHitChar}}
                        {{target.value}})
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
</div>