{{ log 'HEROSYS item-damage-card' this }}
<div class="hero chat-card item-card damage-card2" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <div>
        {{#if item}}
            {{#if nonDmgEffect}}
                {{item.system.XMLID}}
            {{else}}
                Damage
            {{/if}}
            Roll: <span class="item-name">{{{itemName item}}}</span>
        {{/if}}

        {{#if flavor}}
            {{flavor}}
        {{/if}}

    </div>

    <div class="tags">
        {{#each attackTags as |tag id|}}
        <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
        {{/each}}
    </div>
    <hr>
    <div class="tags">
        {{#each tags as |tag id|}}
        <span class="tag tag_transparent" title="{{tag.title}}">{{tag.name}} {{tag.value}}</span>
        {{/each}}
    </div>

    <div class="hit-roll">

        <div class="card-section">
            {{#if useHitLoc}}
                <div class="description-tiny">{{ hitLocText }}</div>
            {{/if}}
            <div class="damage-roll">{{{ renderedDamageRoll }}}</div>
        </div>

        <div data-visibility="gm">
            <button class="apply-damage" title="Apply damage to selected tokens." data-item-id="{{item.uuid}}" data-action-data="{{actionData}}"
                data-body-damage="{{bodyDamage}}" data-body-damage-effective="{{bodyDamageEffective}}"
                data-stun-damage="{{stunDamage}}" data-stun-damage-effective="{{stunDamageEffective}}"
                data-roller="{{roller}}" data-stun-multiplier="{{stunMultiplier}}" data-hit-location="{{hitLocation}}" data-target-entangle="{{targetEntangle}}"
                data-token-data="{{toJsonArray null}}">
                {{#if (or nonDmgEffect senseAffecting)}}
                    Apply {{item.system.XMLID}}
                {{else}}
                    Apply Damage
                {{/if}}
            </button>

            {{#each targetTokens as |target id|}}
                <button class="apply-damage" title="Apply damage to {{target.token.name}}." data-item-id="{{../item.uuid}}" data-action-data="{{actionData}}"
                    data-target-token-id="{{target.token.id}}"
                    {{!-- PH: TODO: Can these be removed since the roller info should be in the targetTokens? --}}
                    data-body-damage="{{../bodyDamage}}" data-body-damage-effective="{{../bodyDamageEffective}}"
                    data-stun-damage="{{../stunDamage}}" data-stun-damage-effective="{{../stunDamageEffective}}"
                    data-stun-multiplier="{{../stunMultiplier}}" data-hit-location="{{../hitLocation}}" data-target-entangle="{{../targetEntangle}}"
                    data-token-data="{{toJsonArray target}}">
                    {{#if ../nonDmgEffect}}
                        Apply {{../item.system.XMLID}} to <b>{{target.token.name}}</b>
                    {{else}}
                        {{#if target.subTarget}}
                            Apply <span title="{{target.roller.title}}">{{target.roller.total}}</span> Damage to <b>{{target.subTarget}} {{item.system.XMLID}}</b>
                        {{else}}
                            Apply <span title="{{target.roller.title}}">{{target.roller.total}}</span> Damage to <b>{{target.token.name}} {{item.system.XMLID}}</b>
                        {{/if}}
                    {{/if}}
                </button>
            {{/each}}

            {{#if targetIds}}
                <button class="apply-damage" title="Apply damage to ALL tokens that were hit." data-item-id="{{item.uuid}}" data-action-data="{{actionData}}"
                    data-target-ids="{{targetIds}}"
                    {{!-- Can these be removed? --}}
                    data-body-damage="{{bodyDamage}}" data-body-damage-effective="{{bodyDamageEffective}}"
                    data-stun-damage="{{stunDamage}}" data-stun-damage-effective="{{stunDamageEffective}}"
                    data-stun-multiplier="{{stunMultiplier}}" data-hit-location="{{hitLocation}}" data-target-entangle="{{targetEntangle}}"
                    data-token-data="{{toJSON targetTokens}}">
                    {{#if nonDmgEffect}}
                        Apply {{item.system.XMLID}} to <b>ALL</b>
                    {{else}}
                        Apply Damage to <b>ALL</b>
                    {{/if}}
                </button>
            {{/if}}
        </div>

    </div>
</div>