{{ log 'HEROSYS item-toHit-card' this }}
<div class="hero chat-card item-card toHit-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if
    tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <span class="flavor-text">
        {{!-- Attack Name --}}
        <header class="card-header attack flexrow">
            <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
            <h3 class="item-name">{{{itemName item}}}</h3>
        </header>

        {{!-- Show Target, if any --}}
        <div class="target-dc-result">
            {{#each targetData as |target|}}
            <div class="target-dc">

                {{#if ../maxMinds}}
                    Target: <span data-visibility="gm">{{target.name}}</span><span data-visibility="notgm"><i>redacted</i></span>
                    <span data-visibility="gm">
                        ({{target.toHitChar}} {{target.value}})
                    </span>
                    <br />
                    Result: <span data-visibility="gm" class="{{target.result.hit}}">{{target.result.hit}}
                    </span>
                    <span data-visibility="notgm"><i>redacted</i></span>
                {{else}}
                    <span>Target: {{target.name}}</span>
                    <span data-visibility="gm">
                        ({{target.toHitChar}} {{target.value}})
                    </span>
                    <br />
                    <span>
                        Result: <span class="{{target.result.hit}}">{{target.result.hit}}</span>
                        {{#if target.aoeAlwaysHit}}
                            due to AOE
                        {{/if}}
                        <span data-visibility="gm" class="resultBy">by {{target.result.by}}</span>
                    </span>
                {{/if}}
            </div>
            {{/each}}
            {{#unless targetData}}
                <div class="target-dc">
                    <i>{{localize "Items.Attack.TargetingExplanation"}}</i>
                </div>
            {{/unless}}
        </div>

        <div class="tags">
            {{#each attackTags as |tag id|}}
                <span class="tag" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}</span>
            {{/each}}
        </div>
        <hr>
        <div class="tags">
            {{#each tags as |tag id|}}
                <span class="tag tag_transparent" {{#if tag.title}}title="{{tag.title}}" {{/if}}>{{tag.name}}
                    {{tag.value}}
                </span>
            {{/each}}
        </div>
        <hr>
    </span>

    <div class="hit-roll">
        {{#if useEnd}}
        <div class="card-section">
            <div class="description-tiny">{{{ enduranceText }}}</div>
        </div>
        {{/if}}

        {{#each targetData as |target|}}
            {{#unless target.aoeAlwaysHit}}
                <div class="card-section">
                   
                    {{#if ../maxMinds}}
                    <div class="description-tiny">{{../maxMinds}} mind(s)</div>
                    {{else}}
                    <div class="description-tiny">Attack Roll<br>vs.<br>{{target.name}}</div>
                    {{/if}}
                    <div class="hit-roll">{{{ target.renderedRoll }}}</div>
                    <div class="description-medium">
                        {{{ target.hitRollText }}}
                        <span data-visibility="gm">
                            ({{target.toHitChar}} {{target.value}})
                        </span>
                    </div>
                </div>
            {{/unless}}
        {{/each}}

        {{#if maxMinds}}
            <div>
                <i>The Game Master is finding valid targets for Mind Scan.</i>
            </div>
            <div data-visibility="gm">
                <button class="roll-mindscan" data-itemId="{{item.uuid}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
                    data-damageMod="{{damageMod}}" data-hitRollData="{{hitRollData}}"
                    data-effectiveStr="{{effectiveStr}}" data-targetIds="{{targetIds}}" data-velocity="{{velocity}}" 
                    data-boostable-Charges="{{boostableCharges}}" data-maxMinds="{{maxMinds}}" data-to-hit-roll-total="{{toHitRollTotal}}" data-target="controlled" title="Select appropriate token(s) with mouse, drag box around or shift-click.">
                    Roll Mind Scan
                </button>
                <button class="roll-mindscan" data-itemId="{{item.uuid}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
                    data-damageMod="{{damageMod}}" data-hitRollData="{{hitRollData}}"
                    data-effectiveStr="{{effectiveStr}}" data-targetIds="{{targetIds}}" data-velocity="{{velocity}}" 
                    data-boostable-Charges="{{boostableCharges}}" data-maxMinds="{{maxMinds}}" data-to-hit-roll-total="{{toHitRollTotal}}" data-target="scene">
                    All Tokens in Scene ({{maxMinds}} max)
                </button>
                <button class="roll-mindscan" data-itemId="{{item.uuid}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
                    data-damageMod="{{damageMod}}" data-hitRollData="{{hitRollData}}"
                    data-effectiveStr="{{effectiveStr}}" data-targetIds="{{targetIds}}" data-velocity="{{velocity}}" 
                    data-boostable-Charges="{{boostableCharges}}" data-maxMinds="{{maxMinds}}" data-to-hit-roll-total="{{toHitRollTotal}}" data-target="world">
                    All Tokens in World ({{maxMinds}} max)
                </button>
            </div>

        {{else}}
            <div data-visibility="{{actor.id}}">
                <button class="roll-damage" data-itemId="{{item.uuid}}" data-aim="{{aim}}" data-aim-side="{{aimSide}}"
                    data-damageMod="{{damageMod}}" data-hitRollData="{{hitRollData}}"
                    data-effectiveStr="{{effectiveStr}}" data-targetIds="{{targetIds}}" data-velocity="{{velocity}}" 
                    data-boostable-Charges="{{boostableCharges}}">
                    {{#if (or adjustment senseAffecting)}}
                        Roll {{item.system.XMLID}}
                    {{else}}
                        Roll Damage
                    {{/if}}
                </button>
            </div>
        {{/if}}
    </div>
</div>