{{!-- {{ log 'HEROSYS skill-success-roll-card' this }} --}}
<div class="hero chat-card">
    <div class="card-section tags">
        {{#each tags as |tag id|}}
            <span class="tag tag-transparent" {{#if tag.title}}title="{{tag.title}}"{{/if}}>{{tag.name}}
                {{tag.value}}
            </span>
        {{/each}}
    </div>

    {{#if resourcesUsedDescription}}
        <div class="card-section">
            <div class="description-tiny">{{{ resourcesUsedDescription }}}</div>
        </div>
    {{/if}}

    <div class="card-section">
        <div class="hit-roll">{{{ renderedRoll }}}</div>
    </div>
</div>