{{log "item-vpp-application" this}}
<section>

    <p>
        The powers on the left are available to be slotted into the VPP and cannot be used. 
        The powers on the right are slotted and can be used. 
        Each slot has an active cost, the total of which cannot exceed the power pool points.
    </p>
    <hr />

    <div class="flexrow vpp-selects">

        {{!-- Available SELECT --}}
        <div class="">
            <span>Available Powers</span>
            <select id="vppUnslottedPowerSelect" class="form-control" size="10" multiple="multiple">
                {{#each vppUnSlottedItems}}
                <option value="{{this.id}}" title="{{this.system.description}}" data-cost="{{this.realCost}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>

        {{!-- Controls --}}
        <div class="flexcol flex0 vpp-select-control">
            <span>&nbsp;</span>
            <button type="button" id="slotPowerButton" class="vpp-select-control" disabled><i class="fa-solid fa-chevron-right"></i></button>
            <button type="button" id="unslotPowerButton" class="vpp-select-control" disabled><i class="fa-solid fa-chevron-left"></i></button>
            <button type="button" id="defaultButton" class="vpp-select-control">Default</button>
        </div>

        {{!-- Active SELECT --}}    
        <div class="">
            <span>Slotted Powers</span>
            <select id="vppSlottedPowerSelect" class="form-control" size="10" multiple="multiple">
                {{#each vppSlottedItems}}
                <option value="{{this.id}}" title="{{this.system.description}}" data-cost="{{this.realCost}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <br>
    <center style="{{#if (gt vppSlottedCost vppPoolPoints)}}color:red;{{/if}}">
        Variable power pool points <b>{{vppSlottedCost}}</b> of {{vppPoolPoints}}
    </center>

</section>