<section
  class='tab martial {{tab.cssClass}}'
  data-group='primary'
  data-tab='martial'
>
    <section class="list-controls">
        <div class="search">
            <input type="text" placeholder="Search" data-action="search">
            <ul class="unlist controls">
                <button type="button" class="unbutton filter-control always-interactive" data-action="clear" data-tooltip="" aria-label="Clear Filters">
                    <i class="fas fa-xmark"></i>
                </button>
            </ul>
        </div>
    </section>
    <section class="item-list-container">
        <div class="item-header">
            <div class="item-column item-cost">{{localize "ActorSheet.Cost"}}</div>
            <div class="item-column item-description">{{localize "ActorSheet.Description"}}</div>
            <div class="item-column item-phase">{{localize "ActorSheet.Phase"}}</div>
            <div class="item-column item-ocv">{{localize "ActorSheet.OCV"}}</div>
            <div class="item-column item-dcv">{{localize "ActorSheet.DCV"}}</div>
            <div class="item-column item-controls"></div>
        </div>

        <ol class="item-list unlist">
            {{#each items as |item|}}
                {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-martial-partial-item-v2.hbs') item }}
            {{/each}}
        </ol>
    </section>
</section>