{{#if this.isContainer}}
    {{#if this.system.collapse}}
        <a class="item-image item-control item-expand" title="{{localize "ActorSheet.ExpandItem"}}" >
            <i class="fas fa-square-caret-right fa-2x"></i>
        </a>
    {{else}}
        <a class="item-image item-control item-collapse" title="{{localize "ActorSheet.CollapseItem"}}" >
            <i class="fas fa-square-caret-down fa-2x"></i>
        </a>
    {{/if}}
    {{else}}
    <img class="item-image" src="{{this.img}}" alt="{{this.name}}">
{{/if}}