<section
  class='tab background {{tab.cssClass}}'
  data-group='primary'
  data-tab='background'
>

    <div class="form-group">
        <label for="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE"><b>EXPERIENCE</b></label>
        <input name="system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE" value="{{actor.system.CHARACTER.BASIC_CONFIGURATION.EXPERIENCE}}" type="number">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.HEIGHT"><b>HEIGHT (inches)</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.HEIGHT" value="{{actor.system.CHARACTER.CHARACTER_INFO.HEIGHT}}" type="number">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.WEIGHT"><b>WEIGHT (lbs)</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.WEIGHT" value="{{actor.system.CHARACTER.CHARACTER_INFO.WEIGHT}}" type="number">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.EYE_COLOR"><b>EYE COLOR</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.EYE_COLOR" value="{{actor.system.CHARACTER.CHARACTER_INFO.EYE_COLOR}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.HAIR_COLOR"><b>HAIR COLOR</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.HAIR_COLOR" value="{{actor.system.CHARACTER.CHARACTER_INFO.HAIR_COLOR}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES"><b>ALTERNATE IDENTITIES</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES" value="{{actor.system.CHARACTER.CHARACTER_INFO.ALTERNATE_IDENTITIES}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME"><b>CAMPAIGN NAME</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME" value="{{actor.system.CHARACTER.CHARACTER_INFO.CAMPAIGN_NAME}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.GENRE"><b>GENRE</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.GENRE" value="{{actor.system.CHARACTER.CHARACTER_INFO.GENRE}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.PLAYER_NAME"><b>PLAYER NAME</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.PLAYER_NAME" value="{{actor.system.CHARACTER.CHARACTER_INFO.PLAYER_NAME}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.GM"><b>GM</b></label>
        <input name="system.CHARACTER.CHARACTER_INFO.GM" value="{{actor.system.CHARACTER.CHARACTER_INFO.GM}}" type="text">
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.BACKGROUND"><b>BACKGROUND</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.BACKGROUND" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.BACKGROUND}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.PERSONALITY"><b>PERSONALITY</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.PERSONALITY" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.PERSONALITY}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.QUOTE"><b>QUOTE</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.QUOTE" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.QUOTE}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.TACTICS"><b>TACTICS</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.TACTICS" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.TACTICS}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_USE"><b>CAMPAIGN_USE</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.CAMPAIGN_USE" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.CAMPAIGN_USE}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.APPEARANCE"><b>APPEARANCE</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.APPEARANCE" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.APPEARANCE}}</textarea>
    </div>

    <div class="form-group">
        <label for="system.CHARACTER.CHARACTER_INFO.APPEARANCE"><b>APPEARANCE</b></label>
        <textarea name="system.CHARACTER.CHARACTER_INFO.APPEARANCE" 
            rows="10"
        >{{actor.system.CHARACTER.CHARACTER_INFO.APPEARANCE}}</textarea>
    </div>


</section>