{{! Attacks Tab }}
<section
    class="tab attacks {{tab.cssClass}}"
    data-group="primary"
    data-tab="attacks"
>
    <section class="item-list-container">
        <div class="item-header">
            <div class="item-column item-name">{{localize "ActorSheet.Name"}}</div>
            <div class="item-column item-ocv">{{localize "ActorSheet.OCV"}}</div>
            <div class="item-column item-dcv">{{localize "ActorSheet.DCV"}}</div>
            <div class="item-column item-offdef">{{localize "ActorSheet.OffVDef"}}</div>
            <div class="item-column item-dmg">{{localize "ActorSheet.Dmg"}}</div>
            <div class="item-column item-res">{{localize "ActorSheet.Res"}}</div>
            <div class="item-column item-end">{{localize "ActorSheet.End"}}</div>
            <div class="item-column item-aoe">{{localize "ActorSheet.Aoe"}}</div>
            <div class="item-column item-controls"></div>
        </div>

        <ol class="item-list attacks-list unlist">
            {{#each items as |item|}}
                <li class="item attack draggable unlist" data-document-uuid="{{this.uuid}}">
                    <div class="item-row {{this.validationCss}}"
                    {{#if this.validationTooltip}}
                        data-tooltip="{{this.validationTooltip}}"
                    {{/if}}
                    >
                        <div class="item-column item-name"
                            
                            
                        >
                            {{#if this.validationTooltip}}
                                <i class="fa-regular fa-circle-exclamation fa-2xl"></i>
                            {{else}}
                                <img class="item-image" src="{{this.img}}" alt="{{this.name}}">
                            {{/if}}
                            <div class="name"
                                data-tooltip="{{itemFullDescription this}}"
                            >
                                <div class="label">
                                    {{#if (eq item.parentItem.system.XMLID "COMPOUNDPOWER")}}
                                        {{{item.parentItem.name}}}: 
                                    {{/if}}
                                    {{this.name}}
                                </div>
                                <div class="keywords">{{this.system.XMLID}}</div>
                            </div>
                        </div>
                        <div class="item-column item-ocv" data-tooltip="{{{item.system.ocvDetails.tooltip}}}">
                            {{item.system.ocvDetails.value}}
                        </div>
                        <div class="item-column item-dcv" data-tooltip="{{{item.system.dcvDetails.tooltip}}}">
                            {{item.system.dcvDetails.value}}
                        </div>
                        <div class="item-column item-offdef">
                            {{item.system.attacksWith}} vs {{item.system.defendsWith}}
                        </div>
                        <div class="item-column item-dmg">
                            <span>{{item.system.damage}}</span>
                        </div>
                        <div class="item-column item-res">
                            {{item.attackDefenseVs}}
                        </div>
                        <div class="item-column item-end">
                            {{item.system.endEstimate}}
                        </div>
                        <div class="item-column item-aoe">
                            {{#if item.aoeAttackParameters}}
                                {{item.aoeAttackParameters.shortDesc}}
                            {{else}}
                                -
                            {{/if}}
                        </div>
                        <div class="item-column item-controls">
                            {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}                       
                            {{!-- <a class="fa-solid fa-angle-{{ifThen abilityContext.expanded "down" "right"}}" data-action="toggleDocumentDescription"></a> --}}
                        </div>
                    </div>
                    {{!-- 
                    <div class="item-description-expandable">
                        <div class="item-description-content">
                            {{{itemFullDescription item}}}
                        </div>
                    </div> 
                    --}}
                </li>
            {{/each}}
        </ol>
    </section>
</section>
