{{!-- {{log "actor-sheet-effects-partial-item" effects}} --}}
{{#if effects}}

    <section class="item-list-container">
        <div class="item-header" data-tooltip="{{localize title}}">
            <div class="item-column item-description">{{localize headerName}}</div>
            <div class="item-column item-controls"></div>
        </div>

        <ol class="item-list unlist">
            {{#each effects as |effect key|}}
                <li class="item effects" data-document-uuid="{{this.uuid}}">
                    <div class="item-row {{this.validationCss}}">

                        
                        <div class="item-column item-description">
                            <img class="item-image" src="{{this.img}}" alt="{{this.name}}">
                            <div class="item-description-full" 
                            data-tooltip="{{this.validationTooltip}}"
                            >
                                {{this.nameExtended}}
                            </div>
                        </div>

                        <div class="item-column item-controls">
                            <input class="effect-toggle" data-action="toggleEffect" type="checkbox" {{checked (not
                            this.disabled)}} data-dtype="Boolean" data-action="toggle" />
                            {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ol>
    </section>

    
{{/if}}