<li class="item powers draggable expandable-document" data-document-uuid="{{this.uuid}}">
    <div class="item-row {{css}}">

        <div class="item-column item-description item-depth-{{this.childDepth}}">
            
            {{#if (ne this.system.XMLID "LIST")}}
                <img class="item-image" src="{{this.img}}" alt="{{this.name}}">
            {{/if}}

            <div class="item-description-full {{this.css.description}}">
                {{#if (and this.childIdx this.parentItem)}}
                    {{this.childIdx}})
                {{/if}}
                {{{itemFullDescription this}}}
                {{#if this.system.NOTES}}
                    <div class="item-notes-editable-content"><b>Notes:</b> {{{this.system.NOTES}}}</div>
                {{/if}}
            </div>
            
        </div>
        <div class="item-column item-end">
            {{#if (ne this.system.XMLID "LIST")}}
                {{this.system.endEstimate}}
            {{/if}}
        </div>
        <div class="item-column item-price">
            {{this.priceText}}
        </div>
        <div class="item-column item-weight">
            {{this.weightKg}}
        </div>
        <div class="item-column item-carried">
            <input class="item-update" type="checkbox"  name="system.CARRIED"  {{checked
                    this.system.CARRIED}} data-action="carried" data-dtype="Boolean" />
        </div>
        <div class="item-column item-controls">
            {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-item-actions-partial-v2.hbs') this }}
        </div>
    </div>
</li>

{{#if (not this.system.collapse)}}
    {{#each this.childItems }}
        {{> (getModulePath 'actor/actor-sheet-v2-parts/actor-sheet-equipment-partial-item-v2.hbs') this }}
    {{/each}}
{{/if}}