<header class="char-header sheet-header ">
    <div class="header-fields flexrow" style="width: 100%">
        <h1 class="charname flex4" title='"{{getScopedFlagValue actor @root/gameSystemId "file" "name"}}" was uploaded by {{getScopedFlagValue actor @root/gameSystemId "file" "uploadedBy"}} which was last modified on {{getUploadLastModifiedDate actor}}']"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>


        {{#if actor.is5e}}
            <div class="edition fifth-ed flex0" title="5th edition {{actor._templateType}} {{actor.type}}">5{{actor._templateTypeAbreviation}}</div>
        {{else}}
            <div class="edition sixth-ed flex0" title="6th edition {{actor._templateType}} {{actor.type}}">6{{actor._templateTypeAbreviation}}</div>
        {{/if}}

        {{#if actor.characterPointCost}}
            <div class="points flex0" title="{{pointsTitle}}">{{actor._characterPointsForDisplay}}CP</div>
        {{/if}}

        {{#if actor.activePoints}}
            <div class="points flex0" title="{{activePointsTitle}}">{{actor._activePointsForDisplay}}AP</div>
        {{/if}}


        <label class="upload-button flex0 {{#if isOwner}}is-owner{{/if}}" data-action="upload">
            <span>Upload&nbsp;.HDC</span>
            <input type="file" accept=".hdc" \>
        </label>
    </div>
</header>