{{ log 'HEROSYS item-conditional-defense-card' this }}
<form class="hero chat-card item-card conditional-defense-card" data-actor-id="{{actor._id}}"
    data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>

    <div class="hero chat-card item-card">
        <h2>Verify the following defenses apply to this attack.</h2>
        <div class="description">
            <b>{{{itemName item}}}
                {{#if item.system.SFX}} ({{item.system.SFX}}){{/if}}
            </b>: {{item.system.description}}
        </div>
    </div>

    <div class="form-fields  csl-attack-list">
        <table>
            {{#each conditionalDefenses}}
            <tr>
                <td>
                    <input type="checkbox" data-item-id="{{this.id}}" data-item-xmlid="{{this.xmlid}}"  {{checked this.checked}} data-dtype="Boolean" />
                </td>
                <td class="left">
                    <b>{{this.name}}{{#if item.system.SFX}} ({{item.system.SFX}}){{/if}}</b>: {{this.description}}
                </td>
            </tr>
            {{/each}}
        </table>
    </div>

</form>