{{ log 'HEROSYS ITEM ATTACK APPLICATION CARD item-attack-application' this }}
<form>
  <div class="hero chat-card item-card attack-card">
    <header class="card-header flexrow">
      <img src="{{originalItem.img}}" title="{{action.system.currentItem.name}}" width="36" height="36" />
      <h3 class="item-name">{{{itemName action.system.currentItem}}}</h3>
    </header>

    <div class="description">
      <b>{{{itemName action.system.currentItem}}}
          {{#if action.system.currentItem.system.SFX}} ({{action.system.currentItem.system.SFX}}){{/if}}
      </b>: {{action.system.currentItem.system.description}} {{action.current.step}}

      {{#if (gameConfigValue "alphaTesting")}}
        <div>
          <b><label>END from Character</label></b> {{effectiveItemResourceUsage.totalEnd}}
        </div>
        <div>
          <b><label>END from Reserve</label></b> {{effectiveItemResourceUsage.totalReserveEnd}}
        </div>
        <div>
          <b><label>Charges</label></b> {{effectiveItemResourceUsage.totalCharges}}
        </div>
        <div>
          <b><label>Active Points</label></b> {{effectiveItem._activePoints}}
        </div>
      {{/if}}
    </div>

    {{!-- BEGIN multiple-attack-section --}}
    <div class="multiple-attack-section" {{#unless action.current.isMultipleAttack}} style="display: none;"{{/unless}}>  
      {{!-- multiple attack selection --}}
      {{#if action.current.missed}}
        <div>Attack number {{action.current.missed.execute}} missed {{action.current.missed.targetName}} with {{action.current.missed.itemName}} in a multiple attack: (todo:)remaining attacks forfeit END and charges to no effect.</div>
      {{/if}}
      <div class="form-group">
        <div class="multi-attack-options target-container">
          <div class="target-info-header">
            {{!-- could probably do this as an #each and pass it in if there are variations --}}
            <div>Target</div>
            <div>Attack</div>
            <div>+/-</div>
          </div>
          {{#each action.maneuver.attackKeys as |multiAttack index|}}
            <div class="target-info-row">
              <select class="ellipsis-text target-name" name="{{multiAttack.attackKey}}-target" id="{{multiAttack.attackKey}}-target" {{#if @root/action.current.missed}}disabled{{/if}} >
                {{#each @root/targets as |target|}}
                  <option value={{target.id}} {{#if (eq target.id multiAttack.targetKey)}}selected{{/if}}>{{target.name}}</option>
                {{/each}}
              </select>
              <select name="{{multiAttack.attackKey}}" id="{{multiAttack.attackKey}}" {{#if @root/action.current.missed}}disabled{{/if}}>
                {{!-- keep strike at top --}}
                {{#each @root/actor.items as |item|}}
                  {{#if (eq item.system.XMLID "STRIKE")}}
                    <option value={{item.id}}{{#if (eq item.id multiAttack.itemKey)}} selected{{/if}}>{{{itemName item}}}</option>
                  {{/if}}
                {{/each}}
                {{#each @root/actor.items as |item|}}
                  {{#if (or (includes item.baseInfo.type "attack") (and (ne item.type "maneuver")))}}
                    <option value={{item.id}}{{#if (eq item.id multiAttack.itemKey)}} selected{{/if}}>{{item.name}}</option>
                  {{/if}}
                {{/each}}
              </select>
              <label>
                {{#if (eq index 0)}}
                  <span class="fas fa-plus {{#unless @root/action.current.missed}}add-multiattack{{/unless}}" > </span>
                {{else}}
                  <span class="fas fa-trash {{#unless @root/action.current.missed}}remove-multiattack{{/unless}}" data-multiattack="{{multiAttack.attackKey}}" ></span>
                {{/if}}
              </label>
            </div>
          {{/each}}
        </div>
      </div>
      <div {{#unless action.current.cvMod.cvMod.ocv }}style="display: none;"{{/unless}}>
        <label>{{action.current.cvMod.name}}</label>
        <label>{{localize "Items.Attack.OcvMod"}}</label>
        <label>{{action.current.cvMod.cvMod.ocv}}</label>
      </div>
      <div {{#unless action.current.cvMod.cvMod.dcv }}style="display: none;"{{/unless}}>
        <label>{{action.current.cvMod.name}}</label>
        <label>{{localize "Items.Attack.DcvMod"}}</label>
        <label>{{action.current.cvMod.cvMod.dcv}}</label>
      </div>
      <div {{#unless (ne 1 action.current.cvMod.cvMod.dcvMultiplier) }}style="display: none;"{{/unless}}>
        <label>{{action.current.cvMod.name}}</label>
        <label>{{localize "Items.Attack.DcvMod"}}</label>
        {{!-- TODO: fix this when I have math --}}        
        {{#if
          (and
            (gt action.current.cvMod.cvMod.dcvMultiplier 0)
            (lt action.current.cvMod.cvMod.dcvMultiplier 1)
            0
          )
        }}
          <label>x1/{{math 1 action.current.cvMod.cvMod.dcvMultiplier}}</label>
        {{else}}
          <label>x{{action.current.cvMod.cvMod.dcvMultiplier}}</label>
        {{/if}}
      </div>

    </div>
    {{!-- END multiple-attack-section --}}

    {{!-- BEGIN standard-attack-section --}}
    <div class="standard-attack-section" {{#if (or action.current.isMultipleAttack action.current.isHaymakerAttack) }}style="display: none;"{{/if}} >

      {{#each action.current.cvModifiers as |modifier|}}
        <div {{#unless modifier.cvMod.ocv }}style="display: none;"{{/unless}}>
          <label>{{modifier.name}}</label>
          <label>{{localize "Items.Attack.OcvMod"}}</label>
          <label>{{modifier.cvMod.ocv}}</label>
        </div>
        <div {{#unless modifier.cvMod.dcv }}style="display: none;"{{/unless}}>
          <label>{{modifier.name}}</label>
          <label>{{localize "Items.Attack.DcvMod"}}</label>
          <label>{{modifier.cvMod.dcv}}</label>
        </div>
        <div {{#unless (ne 1 modifier.cvMod.dcvMultiplier) }}style="display: none;"{{/unless}}>
          <label>{{modifier.name}}</label>
          <label>{{localize "Items.Attack.DcvMod"}}</label>
          {{!-- TODO: fix this when I have math --}}
          {{#if
            (and
              (gt modifier.cvMod.dcvMultiplier 0)
              (lt modifier.cvMod.dcvMultiplier 1)
              0
            )
          }}
            <label>x1/{{math 1 modifier.cvMod.dcvMultiplier}}</label>
          {{else}}
            <label>x{{modifier.cvMod.dcvMultiplier}}</label>
          {{/if}}
        </div>
      {{/each}}

      {{!ENTANGLE}}
      {{#if entangleExists}}
        <div class="form-group">
          <label>Target Entangle(s)</label>
          <div>
            <input class="item-toggle" type="checkbox" name="targetEntangle" {{checked
              targetEntangle}} data-dtype="Boolean" />
          </div>
        </div>

      {{/if}}


      {{!-- Placed shot (hit location) form group --}}
      {{#if hitLocationsEnabled}}
        <div class="form-group">
          <label>Placed Shot</label>
          <select name="aim" style="max-width:234px">
            {{selectOptions hitLoc selected=aim valueAttr="key" labelAttr="label" disabled="disabled"}}
          </select>
        </div>
      {{/if}}

      {{!-- Placed shot (hit location side) form group --}}
      {{#if hitLocationSideEnabled}}
        <div class="form-group">
          <label>Placed Shot Side</label>
          <select name="aimSide" id="aimSide">
            {{selectOptions hitLocSide selected=aimSide valueAttr="key" labelAttr="label" disabled="disabled"}}
          </select>
        </div>
      {{/if}}

      {{#if mindScanChoices}}
        <div class="form-group">
          <label>{{localize "Items.Attack.OmcvMod"}}</label>
          {{numberInput omcvMod name="omcvMod" step=1 min=-99 max=99}}
        </div>

        <div class="form-group">
          <label>{{localize "Items.Attack.DmcvMod"}}</label>
          {{numberInput dmcvMod name="dmcvMod" step=1 min=-99 max=99}}
        </div>
      {{else}}
        <div class="form-group">
          <label>{{localize "Items.Attack.OcvMod"}}</label>
          {{numberInput ocvMod name="ocvMod" step=1 min=-99 max=99}}
        </div>

        <div class="form-group">
          <label>{{localize "Items.Attack.DcvMod"}}</label>
          {{numberInput dcvMod name="dcvMod" step=1 min=-99 max=99}}
        </div>
      {{/if}}

      {{#if showVelocity}}
        <div class="form-group">
          <label>{{localize "Items.Attack.Velocity"}} ({{velocitySystemUnits}}/phase)</label>
          {{numberInput velocity name="velocity" step=1 min=0 max=999 title="Typically you assume a starting velocity of 0, accelerate up to half your full move, then decelerate back to a 0 velocity.  A character can accelerate at a rate of 5m per meter.  If the Drag Ruler module is enabled, combat has started, and token has moved on its phase, then a velocity estimate is provided.  A simplistic solution is to assume velocity is equal to the movement speed."}}  
        </div>
      {{/if}}

      {{#if (gt originalItem._realCost 0)}}
        <div class="form-group">
          <label>Reducing &amp; Pushing</label>
          <div class="noflexwrap">
            {{numberInput effectiveRealCost name="effectiveRealCost" step=1 min=1 max=999}}
            <label>/ {{originalItem._realCost}} Character Points</label>
          </div>
        </div>
      {{/if}}

      {{#if (or effectiveItem.system.usesStrength effectiveItem.system.usesTk)}}
        <div class="form-group">
          <label>Effective Strength</label>
          <div class="noflexwrap">
            {{numberInput effectiveStr name="effectiveStr" step=1 min=0 max=999}}
            <label>/ {{str}}</label>
          </div>
        </div>

        {{#if (gt (objectNumKeys hthAttackItems) 0)}}
          <div class="form-group">
            <label>
              Hand-To-Hand Attacks
            </label>
            <div class="form-fields hand-to-hand-attacks">
              <ol>
              {{#each hthAttackItems}}
                <li>
                    <label>
                      <input class="item-toggle" title="{{this.reasonForCantUse}}" id="{{this.uuid}}" type="checkbox" name="hthAttackItems.{{@key}}._canUseForAttack" {{checked this._canUseForAttack}} data-dtype="Boolean" />
                      <span title="{{this.description}}">{{this.name}}</span>
                    </label>
                  </li>
              {{/each}}
              </ol>
            </div>
          </div>
        {{/if}}
      {{/if}}

      {{#if (gt (objectNumKeys maPossibleWeapons) 0)}}
        <div class="form-group">
          <label>
            Maneuver with Weapon
          </label>
          <select name="maSelectedWeaponId" id="maSelectedWeaponId">
            {{selectOptions maPossibleWeapons selected=maSelectedWeaponId valueAttr="id" labelAttr="label" disabled="disabled"}}
          </select>
        </div>
      {{/if}}

      {{#if (gt (objectNumKeys nakedAdvantagesItems) 0)}}
        <div class="form-group">
          <label>
            Naked Advantages
          </label>
          <div class="form-fields naked-advantage-attacks">
            <ol>
            {{#each nakedAdvantagesItems}}
              <li>
                  <label>
                    <input class="item-toggle" title="{{this.reasonForCantUse}}" id="{{this.uuid}}" type="checkbox" name="nakedAdvantagesItems.{{@key}}._canUseForAttack" {{checked this._canUseForAttack}} data-dtype="Boolean" />
                    <span  title="{{this.description}}">{{this.name}}</span>
                  </label>
                </li>
            {{/each}}
            </ol>
          </div>
        </div>
      {{/if}}

      {{#if boostableChargesAvailable}}
        <div class="form-group">
          <label>Boostable ({{boostableChargesAvailable}})</label>
          {{numberInput boostableChargesToUse name="boostableChargesToUse" step=1 min=0 max=999}}
        </div>
      {{/if}}

      {{#if (gt autofireShotsAvailable 1)}}
        <div class="form-group">
          <label>Autofire (max {{autofireShotsAvailable}})</label>
          {{numberInput autofireShotsToUse name="autofireShotsToUse" step=1 min=1 max=999}}
        </div>
      {{/if}}

      {{#if mindScanChoices}}
        <div class="form-group">
          <label>Number of Minds</label>
          <select name="mindScanMinds" data-dtype="text">
            {{selectOptions mindScanChoices valueAttr="key" labelAttr="label" selected=mindScanMinds}}
          </select>
        </div>

        <div class="form-group">
          <label>Familiar Mind</label>
          <select name="mindScanFamiliar" data-dtype="text">
            {{selectOptions mindScanFamiliarOptions valueAttr="key" labelAttr="label" selected=mindScanFamiliar}}
          </select>
        </div>
      {{/if}}

      {{!-- Penalty Skill Levels --}}
      {{#if psls.length}}
        <div class="form-group">
          <label>
            Penalty Skill Levels
          </label>
          <div>
            <table>
              {{#each psls}}
                <tr>
                  <td style="width:1%">
                    <input class="item-toggle" id="{{this.id}}" type="checkbox" name="{{this.id}}.system.checked" {{checked
                      this.system.checked}} data-dtype="Boolean" />
                  </td>
                  <td style="text-align:left">
                    {{this.system.description}}
                  </td>
                </tr>
              {{/each}}
            </table>
          </div>
        </div>
      {{/if}}

      {{#each csls}}
        <div class="form-group">
          <label title="{{this.cslSkill.system.description}}">
            {{this.cslSkill.name}}
            {{#if (ne this.cslSkill.name "Combat Skill Levels")}}
              (CSL)
            {{/if}}
          </label>
          <div class="form-fields combat-skill-levels">
            <ol>
              {{#each this.csl}}
                <li>
                  {{radioBoxes this.name ../cslChoices checked=this.value localize=true}}
                </li>
              {{/each}}
            </ol>

          </div>
        </div>
      {{/each}}
    </div>
    {{!-- END standard-attack-section --}}
  </div>

  {{!-- Conditional attack selection. DEADLY BLOW --}}
  <div class="form-fields csl-attack-list">
    <table>      
      {{#each originalItem.system.conditionalAttacks}}
        {{! Don't show DEADLYBLOW/conditional attacks for non killing attacks --}}
        {{#if (appliesTo this @root/originalItem)}}
          <tr>
              <td>
                  <input name="system.conditionalAttacks.{{this.id}}.system.checked" type="checkbox" _id="{{this.id}}" {{checked this.system.checked}} data-dtype="Boolean" />
              </td>
              <td class="left">
                  <b>{{this.name}}{{#if @root/originalItem.system.SFX}} ({{@root/originalItem.system.SFX}}){{/if}}</b>: {{this.system.description}}
              </td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
  </div>

  
  
  <footer class="sheet-footer flexcol">
    {{#if (gt action.system.currentTargets.length 0)}}
      <div class="form-group">
        <label >Target{{#if (gt action.system.currentTargets.length 1)}}s{{/if}}</label>
        <div>
          <ul>
            {{#each action.system.currentTargets  as |target|}}
              <li>{{target.name}}</li>       
            {{/each}}
          </ul>
        </div>
      </div>
    {{/if}}

    {{#if (and (eq targets.length 0) (not aoeText) (not mindScanChoices))}}
      <div>
        <p class="hero-warning">
          <i class="fas fa-exclamation-triangle"></i>
          {{localize "Items.Attack.NoTargetsSelected"}}
        </p>

        <i>{{localize "Items.Attack.TargetingExplanation"}}</i>
      </div>
    {{/if}}

    {{#if (and (eq targets.length 0) (not aoeText) mindScanChoices)}}
      <div>
        <p class="hero-warning">
          <i class="fas fa-exclamation-triangle"></i>
            You have no target. The GM may have to initiate this attack for you. Make sure the GM knows your target area. The GM may have to add the desired target into the scene so it can be targeted. The GM can also select target token(s) with the mouse.
        </p>
        <i>{{localize "Items.Attack.TargetingExplanation"}}</i>
      </div>
    {{/if}}

    {{#if cannotAttack}}
      <div>
        <p class="hero-warning">
          <i class="fas fa-exclamation-triangle"></i>
          <i>{{cannotAttack}}</i>
        </p>
      </div>
    {{/if}}
    
    {{#if aoeText}}
      <button class="aoe-button" type="submit" name="aoe">
        Place {{aoeText}} template
      </button>
    {{/if}}

    {{#if action.maneuver.isMultipleAttack}}

      {{#if action.current.missed}}
        <button type="submit" name="missedMultiattack"  >
            Missed After {{action.current.missed.execute}} Attack
        </button>
        <button type="submit" name="continueMultiattack">
            Continue Multiple Attacks Anyway
        </button>
      {{else}}
        <button type="submit" name="executeMultiattack"  {{#unless action.maneuver.attack-1}}disabled
                title="The Multiple Attack is not set up." {{/unless}}>      {{!-- TODO: this needs to be more rigorous --}}
          {{#if action.current.isMultipleAttack}}
            Begin Multiple Attacks
          {{else}}
            Continue Multiple Attacks 
          {{/if}}
        </button>
      {{/if}}
      
      
      {{#if (ne action.maneuver.isMultipleAttack action.current.isMultipleAttack)}}
        <button type="submit" name="cancelMultiattack">
          Cancel Remaining Multiple Attacks
        </button>
      {{/if}}
    {{else}}
      <button type="submit" name="roll" {{#if rollHide}}
              disabled title="You must select at least 1 target token, preferably by using the AOE template." {{/if}} >
        {{#if aoeText}}Roll Placement{{else}}Roll to Hit{{/if}}
        {{#if cannotAttack}} Anyway{{/if}}
      </button>
    {{/if}}
    
  </footer>
</form>