{{ log 'HEROSYS POWER SHEET' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Power Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Power</label>
            <input type="text" name="system.rules" value="{{system.rules}}" data-dtype="Text" disabled />
        </div>

        {{#if (eq item.system.subType 'attack') }}
        {{> systems/hero6efoundryvttv2/templates/item/item-attack-partial.hbs item=item }}
        {{/if}}

        <hr>

        {{> systems/hero6efoundryvttv2/templates/item/item-common-partial.hbs item=item }}
        {{> systems/hero6efoundryvttv2/templates/item/item-effects-partial.hbs item=item alphaTesting=alphaTesting}}

    </section>
</form>