{{!-- {{ log 'HEROSYS item-sheet-partial' this }} --}}
{{#if (or _value _label)}}
<div class="form-group">
    <label>{{_label}}</label>

    {{#if _selectOptions}}
    <select name="{{_name}}" data-dtype="text">
        {{selectOptions _selectOptions selected=_value}}
    </select>
    {{else if _value.value}}
    <div>
        <input type="text" name="{{_name}}.value" value="{{_value.value}}" data-dtype="Number" title="value" />
        <span>/</span>
        <input type="text" name="{{_name}}.max" value="{{_value.max}}" data-dtype="Number" title="max" />
    </div>
    {{else}}
    <input name="{{_name}}" type="text" value="{{_value}}" list="datalist-{{_name}}" />
    {{#if _datalist}}
    <datalist id="datalist-{{_name}}">
        {{#each _.datalist}}
        <option value="{{this}}"></option>
        {{/each}}
    </datalist>
    {{/if}}
    {{/if}}
</div>
{{/if}}