{{ log 'HEROSYS item-sheet' this }}
<form class="{{cssClass}} item-sheet" autocomplete="off" data-id="{{item._id}}">
    <header class="sheet-header">
        <img class="profile-img" name="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <div class="xmlid">{{item.system.XMLID}}</div>
            <h1 class="charname"><input name="system.ALIAS" type="text" value="{{system.ALIAS}}" placeholder="ALIAS" /></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Common --}}
        {{> systems/hero6efoundryvttv2/templates/item/item-partial-common.hbs }}

        {{!-- Active Points --}}
        {{> systems/hero6efoundryvttv2/templates/item/item-partial-active-points.hbs }}

        {{!-- Adders & Modifiers --}}
        {{> systems/hero6efoundryvttv2/templates/item/item-partial-adders-modifiers.hbs }}
        
    </section>

</form>