{{ log 'HEROSYS item-skill-combat-levels-sheet' this }}
<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}" data-realId="{{item.system.realId}}">
    <header class="sheet-header">
        <img class="profile-img" name="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="form-group">
            <label>Levels</label>
            <input type="text" name="system.LEVELS" value="{{system.LEVELS}}" data-dtype="Number" />
        </div>

        <div class="form-group">
            <label>OPTIONS</label>
            <div class="form-fields">
                <select name="system.OPTION" data-dtype="text">
                    {{#if (eq system.XMLID "MENTAL_COMBAT_LEVELS")}}
                    {{selectOptions config.mcsl.options selected=system.OPTION}}
                    {{else}}
                    {{selectOptions config.csl.options selected=system.OPTION}}
                    {{/if}}
                </select>
            </div>
        </div>


        <div class="form-group">
            <label>OPTION_ALIAS iscls</label>
            <div class="form-fields">
                <input name="system.OPTION_ALIAS" type="text" value="{{system.OPTION_ALIAS}}" />
            </div>
        </div>


        <div class="form-group">
            <label>Attacks Included:</label>
            <div class="form-fields csl-attack-list">
                <ul>
                    {{#each attacks }}
                        <li><input type="checkbox" name="{{this.id}}" {{checked this.checked}}
                            data-dtype="Boolean" />
                        {{this.name}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>





        <div class="form-group">
            <label>LEVELS</label>
            <div class="form-fields">
                <ol>
                    {{#each csl}}
                    <li>
                        {{ radioBoxes this.name @root/cslChoices checked=this.value localize=true}}
                    </li>
                    {{/each}}
                </ol>

            </div>
        </div>



        {{> (getModulePath 'item/item-common-partial.hbs') item=item }}



    </section>
</form>