{{ log 'HEROSYS item-power-endurancereserve-sheet' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Power Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>ENDURANCE (current)</label>
            <div>
                <input type="text" name="system.value" value="{{system.value}}" data-dtype="Number" />
            </div>
        </div>

        <div class="form-group">
            <label>REC</label>
            <div>
                <input type="text" name="rec" value="{{rec}}" data-dtype="Number" />
            </div>
        </div>



        <hr>

        {{!-- Common --}}
        {{> (getModulePath 'item/item-partial-common.hbs') }}

        {{!-- Active Points --}}
        {{> (getModulePath 'item/item-partial-active-points.hbs') }}

        {{!-- Adders & Modifiers --}}
        {{> (getModulePath 'item/item-partial-adders-modifiers.hbs') }}

    </section>


</form>