{{ log 'item-power-sheet' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body" style="flex:unset">

        {{!-- Common --}}
        {{> (getModulePath 'item/item-partial-common.hbs') }}

        {{!-- Active Points --}}
        {{> (getModulePath 'item/item-partial-active-points.hbs') }}

        {{!-- Adders & Modifiers --}}
        {{> (getModulePath 'item/item-partial-adders-modifiers.hbs') }}

    </section>
    <button class="convert-to-equipment" style="flex:unset;width:unset">Convert to EQUIPMENT</button>
</form>