<div class="form-group">
    <label>Description</label>
    <textarea placeholder="Description" class="power-card-power-description textarea input" name="system.description"
        rows="8" disabled>{{system.description}}</textarea>
</div>

<div class="form-group">
    <label>Base Cost plus Adders</label>
    <input type="text" name="system.basePointsPlusAdders" value="{{system.basePointsPlusAdders}}" data-dtype="Number" />
</div>

<div class="form-group">
    <label>Active Points</label>
    <input type="text" name="activePoints" value="{{activePoints}}" data-dtype="Number" disabled />
</div>

<div class="form-group">
    <label>Real Cost</label>
    <input type="text" name="realCost" value="{{realCost}}" data-dtype="Number" disasbled/>
</div>

<div class="form-group">
    <label>Endurance</label>
    <input type="text" name="end" value="{{end}}" data-dtype="Number" disabled/>
</div>

<div class="form-group">
    <label>Charges</label>
    <div>
        <input type="text" name="system.charges.value" value="{{system.charges.value}}" data-dtype="Number" />
        <span>/</span>
        <input type="text" name="system.LEVELS" value="{{system.LEVELS}}" data-dtype="Number" disabled/>
    </div>
</div>

<div class="form-group">
    <label>Charges (recoverable)</label>
    <input type="checkbox" name="system.charges.recoverable" {{checked system.charges.recoverable}} data-dtype="Boolean" />
</div>

<div class="form-group">
    <label>Use END Reserve</label>
    <input type="checkbox" name="system.USE_END_RESERVE" {{checked system.USE_END_RESERVE}} data-dtype="Boolean" />
</div>

{{!-- <div class="form-group">
    <label>Aid or Drain APs</label>
    <input type="text" name="system.aidDrain" value="{{system.aidDrain}}" data-dtype="text" />
</div> --}}