<table>

    {{!-- ADDERS --}}
    <tr class="active-effects adders" >
        <th class="left">Adders</th>
        <th>Cost</th>
        <th class="right">
            <a class="item-control modifier-create" title="Create"
                data-action="createAdder">
                <i class="fas fa-plus"></i></a>
        </th>
    </tr>
    {{#each item.adders as |adder XMLID|}}
        <tr data-xmlid="{{adder.XMLID}}" data-adder="{{adder.ID}}" data-idx="@index">
            <td class="left">{{adder.ALIAS}}</td>
            <td>{{#if adder.SELECTED}}{{adder.BASECOST_total}}{{/if}}</td>
            <td class="right">
                <a class="item-control modifier-edit" data-action="edit" title="Edit"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control modifier-delete" data-action="delete" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>

        {{#each adder.ADDER as |adder XMLID|}}
            <tr  class="modifier-adder indent" data-xmlid="{{adder.XMLID}}" data-adder="{{adder.ID}}" data-idx="@index"></tr>
                <td class="left">{{adder.ALIAS}}</td>
                <td>{{adder.BASECOST_total}}</td>
                <td class="right"></td>
            </tr>
        {{/each}}
    {{/each}}

    {{!-- {{Modifiers}} --}}
    <tr class="active-effects adders">
        <th class="left">Modifiers</th>
        <th>Cost</th>
        <th class="right">
            <a class="item-control modifier-create" title="Create"
                        data-action="createModifier">
                        <i class="fas fa-plus"></i></a>
        </th>
        {{!-- <th>Add</th> --}}
    </tr>
    {{#each item.modifiers as |mod id|}}
        <tr class="{{#if mod.parentId}} from-parent{{/if}}" data-xmlid="{{mod.XMLID}}" data-modifier="{{mod.ID}}" data-idx="@index">
            <td class="left" title="{{mod.XMLID}}">{{mod.ALIAS}} {{mod.OPTION_ALIAS}} {{#if mod.PRIVATE}}p{{/if}}</td>
            <td>{{mod.cost}}</td>
            <td class="right">
                {{#unless mod.parentId}}
                <a class="item-control modifier-edit" data-action="edit" title="Edit"><i
                        class="fas fa-edit"></i></a>
                <a class="item-control modifier-delete" data-action="delete" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
                {{/unless}}
            </td>
        </tr>

        {{#each mod.adders as |adder id|}}
            <tr class="hero modifier-adder indent {{#if mod.parentId}}from-parent{{/if}}"data-xmlid="{{adder.XMLID}}" data-adder="{{adder.ID}}" data-idx="@index">
                <td class="left" title="{{adder.XMLID}}">{{adder.ALIAS}} {{adder.OPTION_ALIAS}} {{#if adder.PRIVATE}}p{{/if}}</td>
                <td>{{adder.cost}}</td>
                <td class="right">
                    {{!-- <a class="item-control modifier-edit" data-action="edit" title="Edit"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control modifier-delete" data-action="delete" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a> --}}
                </td>
            </tr>
        {{/each}}

        {{#each mod.modifiers as |mod2 id|}}
            <tr class="hero modifier-adder indent {{#if mod.parentId}}from-parent{{/if}}"data-xmlid="{{mod2.XMLID}}" data-adder="{{mod2.ID}}" data-idx="@index">
                <td class="left" title="{{mod2.XMLID}}">{{mod2.ALIAS}} {{mod2.OPTION_ALIAS}} {{#if mod2.PRIVATE}}p{{/if}}</td>
                <td>{{mod2.cost}}</td>
                <td class="right">
                    {{!-- <a class="item-control modifier-edit" data-action="edit" title="Edit"><i
                            class="fas fa-edit"></i></a>
                    <a class="item-control modifier-delete" data-action="delete" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a> --}}
                </td>
            </tr>
        {{/each}}

    {{/each}}
    </table>