{{ log 'HEROSYS POWER ADJUSTMENT SHEET' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Common --}}
        {{> systems/hero6efoundryvttv2/templates/item/item-partial-common.hbs }}

        <!-- Adjustment Targets/Sources (possibly infinite number depending on modifiers and 5e vs 6e) -->
        {{#each reduces as |input id|}}
            <div class="form-group">
                <label>{{../system.XMLID}} From {{increment id 1}}</label>
                <select name="reduces.{{id}}" data-dtype="text">
                    {{selectOptions @root/possibleReduces selected=input}}
                </select>
            </div>
        {{/each}}

        {{#each enhances as |input id|}}
            <div class="form-group">
                <label>{{../system.XMLID}} To {{increment id 1}}</label>
                <select name="enhances.{{id}}" data-dtype="text">
                    {{selectOptions @root/possibleEnhances selected=input}}
                </select>
            </div>
        {{/each}}

        {{!-- Active Points --}}
        {{> (getModulePath 'item/item-partial-active-points.hbs') }}

        {{!-- Adders & Modifiers --}}
        {{> (getModulePath 'item/item-partial-adders-modifiers.hbs') }}

    </section>

    {{#if (eq item.type 'equipment')}}
        <button class="convert-to-power" style="flex:unset;width:unset">Convert to POWER</button>
    {{else}}
        <button class="convert-to-equipment" style="flex:unset;width:unset">Convert to EQUIPMENT</button>
    {{/if}}
</form>