{{ log 'HEROSYS ITEM MARTIALART SHEET' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Martial Art Name" />
            </h1>
        </div>


    </header>

    <section class="sheet-body">

        <div class="form-group">
            <label>PHASE</label>
            <input type="text" name="system.PHASE" value="{{system.PHASE}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>OCV</label>
            <input type="text" name="system.OCV" value="{{system.OCV}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>DCV</label>
            <input type="text" name="system.DCV" value="{{system.DCV}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>DCs</label>
            <input type="text" name="system.DC" value="{{system.DC}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>EFFECT</label>
            <input type="text" name="system.EFFECT" value="{{system.EFFECT}}" data-dtype="text" />
        </div>

        
        <div class="form-group">
            <label>BASECOST</label>
            <input type="text" name="system.BASECOST" value="{{system.BASECOST}}" data-dtype="text" />
        </div>
        <div class="form-group">
            <label>ACTIVECOST</label>
            <input type="text" name="system.ACTIVECOST" value="{{system.ACTIVECOST}}" data-dtype="text" />
        </div>

        {{#if (isdefined system.USEWEAPON)}}
            <div class="form-group">
                <label>USEWEAPON</label>
                <input type="checkbox" name="system.USEWEAPON" {{checked system.USEWEAPON}} data-dtype="Boolean"/>
            </div>
        {{/if}}
        
        {{#if (isdefined system.RANGE)}}
            <div class="form-group">
                <label>RANGE</label>
                <input type="checkbox" name="system.RANGE" {{checked system.RANGE}} data-dtype="Boolean"/>
            </div>
        {{/if}}

        {{#if (isdefined system.ADDSTR)}}
            <div class="form-group">
                <label>ADDSTR</label>
                <input type="checkbox" name="system.ADDSTR" {{checked system.ADDSTR}} data-dtype="Boolean"/>
            </div>
        {{/if}}

        {{#if (isdefined system.MAXSTR)}}
            <div class="form-group">
                <label>MAXSTR</label>
                <input type="text" name="system.MAXSTR" value="{{system.MAXSTR}}" data-dtype="text" />
            </div>
        {{/if}}


        


        {{#if (isdefined system.DAMAGETYPE)}}
            <div class="form-group">
                <label>DAMAGETYPE</label>
                <select name="system.DAMAGETYPE" data-dtype="Number">
                    {{selectOptions martialArtsDamageTypeChoices selected=system.DAMAGETYPE valueAttr="key" labelAttr="label"}}
                </select>
            </div>
        {{/if}}

        {{> (getModulePath 'item/item-common-partial.hbs') item=item }}
    </section>
</form>