{{ log 'HEROSYS item-skill-sheet' this }}
<form class="{{cssClass}}" autocomplete="off" data-id="{{item._id}}">
    <header class="sheet-header">
        <img class="profile-img" name="img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Common --}}
        {{> (getModulePath 'item/item-partial-common.hbs') }}

        {{!-- Active Points --}}
        {{> (getModulePath 'item/item-partial-active-points.hbs') }}

        {{!-- Adders & Modifiers --}}
        {{> (getModulePath 'item/item-partial-adders-modifiers.hbs') }}
        
    </section>
</form>