{{ log 'HEROSYS POWER SHEET' this }}
<form class="hero {{cssClass}} flexcol auto-overflow" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="system.ALIAS" type="text" value="{{system.ALIAS}}" placeholder="Power ALIAS" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Common --}}
        {{> (getModulePath 'item/item-partial-common.hbs') }}

        {{!-- Attack --}}
        {{!-- {{#if (eq item.system.subType 'attack') }}
            {{> (getModulePath 'item/item-attack-partial.hbs') item=item }}
        {{/if}} --}}

        {{!-- Active Points --}}
        {{> (getModulePath 'item/item-partial-active-points.hbs') }}

        {{!-- Adders & Modifiers --}}
        {{> (getModulePath 'item/item-partial-adders-modifiers.hbs') }}

    </section>
</form>