{{ log 'HEROSYS POWER TRANSFER SHEET' this }}
<form class="hero {{cssClass}} flexcol actor-sheet" autocomplete="off" data-id="{{item._id}}"
    data-realId="{{item.system.realId}}">
    <header class="sheet-header flexrow">
        <img class="profile" name="img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="Power Name" />
            </h1>
        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="form-group">
            <label>Power</label>
            <input type="text" name="system.rules" value="{{system.rules}}" data-dtype="Text" disabled />
        </div>

        <!-- Dice (Active Points) -->
        <div class="form-group">
            <label>{{localize "Items.Attack.Value"}}</label>
            <input type="text" name="system.dice" value="{{system.dice}}" data-dtype="Number" />
            D6
            <select name="system.extraDice" data-dtype="text">
                {{selectOptions config.extraDice selected=system.extraDice}}

            </select>
        </div>

        <!-- Transfer (possibly up to 4 depending on modifiers) -->
        <div class="form-group">
            <label>Transfer From</label>
            <select name="xmlidX" data-dtype="text" {{#if system.INPUT}}_disabled{{/if}}>
                {{selectOptions transferSources selected=xmlidX}}

            </select>
        </div>

        <div class="form-group">
            <label>Transfer To</label>
            <select name="xmlidY" data-dtype="text" {{#if system.INPUT}}_disabled{{/if}}>
                {{selectOptions transferSources selected=xmlidY}}
            </select>

        </div>


        <hr>

        {{> systems/hero6efoundryvttv2/templates/item/item-common-partial.hbs item=item }}
        {{> systems/hero6efoundryvttv2/templates/item/item-effects-partial.hbs item=item alphaTesting=alphaTesting}}

    </section>


</form>